@using System.ComponentModel.DataAnnotations;
@using Admin.Services
@using Claim.Services
@inject grpcAdminService.grpcAdminServiceClient adminServiceClient;
@inject grpcClaimService.grpcClaimServiceClient ClaimServiceClient;
@inject MasterService masterService;
@inject VoucherService voucherService;
@inject IJSRuntime JsRuntime;
@inject ISnackbar Snackbar

<MyForm Title="Cập nhật lấy thiết bị"
        ReadOnly="@ReadOnly"
        OnCancelClick="CloseMain"
        OnSubmitClick="SaveMain">
    <MyPanels>
        <!--Thông tin chung-->
        <MyPanel Title="Thông tin chung">
            <div class="container-fluid">
                <!--Row 1-------------------------------------------------->
                <div class="row">
                    <!--Số tiếp nhận-->
                    <div class="col-12 col-lg-2">
                        <MyTextEdit @bind-Text="Model.ClaimNo"
                                    ReadOnly="true"
                                    Literal="Số tiếp nhận"
                                    Width="8rem"
                                    IsFontBold="true"
                                    TextColor="@MyTextColor.Blue"/>
                    </div>
                    <!--Ngày tiếp nhận-->
                    <div class="col-12 col-lg-2">
                        <MyDateTimeEdit @bind-Date="Model.ClaimDate"
                                        Literal="Ngày tiếp nhận"
                                        ReadOnly="true"
                                        TextColor="@MyTextColor.Blue" />
                    </div>
                    <!--Phụ trách bồi thường-->
                    <div class="col-12 col-lg-3">
                        <MyTextEdit @bind-Text="Model.PicAccountName"
                                    ReadOnly="true"
                                    Literal="Phụ trách bồi thường" />
                    </div>
                    <!--Phone phụ trách bồi thường-->
                    <div class="col-12 col-lg-3">
                        <MyTextEdit @bind-Text="Model.PicPhone"
                                    ReadOnly="true"
                                    Literal="Phone" />
                    </div>
                    <!--Mức độ ưu tiên-->
                    <div class="col-12 col-lg-2">
                        <MyComboBox @ref="RefPriority"
                                    @bind-Value="SelectedPriority"
                                    Data="PriorityList"
                                    ReadOnly="true"
                                    TextFieldName="@(nameof(OptionListModel.ItemName))"
                                    SelectedItemChanged="@((OptionListModel selectedRow) => {
                                                   Model.Priority = selectedRow.IntCode;
                                                   PriorityCss = "";
                                                   if (Model.Priority == 2) PriorityCss = "bg-warning";
                                                   if (Model.Priority == 3) PriorityCss = "bg-danger";
                                                   this.StateHasChanged();
                                             })"
                                    Class="@PriorityCss"
                                    Literal="Mức độ ưu tiên" />
                    </div>
                </div>

                <!--Row 2-------------------------------------------------->
                <div class="row">
                    <!--Tên khách hàng-->
                    <div class="col-12 col-lg-3">
                        <MyTextEdit @bind-Text="Model.CusFullname"
                                    Literal="Tên khách hàng"
                                    ReadOnly="true"/>
                    </div>
                    <!--Phone-->
                    <div class="col-12 col-lg-3">
                        <MyTextEdit Text="@Model.CusPhone"
                                    Literal="Điện thoại liên hệ"
                                    IsFontBold="true"
                                    TextColor="@MyTextColor.Blue"
                                    ReadOnly="true" />
                    </div>
                    <!--Email-->
                    <div class="col-12 col-lg-3">
                        <MyTextEdit @bind-Text="Model.CusEmail"
                                    ReadOnly="true"
                                    Literal="Email" />
                    </div>
                </div>

                <!--Row 3-------------------------------------------------->
                <div class="row">
                    <!--Loại sản phẩm-->
                    <div class="col-12 col-lg-3">
                        <MyTextEdit @bind-Text="Model.TPAProductName"
                                    Literal="Loại sản phẩm"
                                    ReadOnly="true" />
                    </div>
                    <!--Số IMEI thiết bị-->
                    <div class="col-12 col-lg-3">
                        <MyTextEdit @bind-Text="Model.DeviceIMEI"
                                    Literal="Số IMEI thiết bị"
                                    ReadOnly="true"
                                    IsFontBold="true"
                                    TextColor="@MyTextColor.Purple"/>
                    </div>
                    <!--Model-->
                    <div class="col-12 col-lg-3">
                        <MyTextEdit @bind-Text="Model.DeviceModel"
                                    ReadOnly="true"
                                    Literal="Model" />
                    </div>

                </div>

                <!--Row 4-------------------------------------------------->
                <div class="row">
                    <!--Địa chỉ lấy thiết bị-->
                    <div class="col-12 col-lg-6">
                        <MyTextEdit @bind-Text="Model.PickupAddress"
                                    Literal="Địa chỉ lấy thiết bị"
                                    ReadOnly="true"/>
                    </div>
                    <!--Địa chỉ trả thiết bị-->
                    <div class="col-12 col-lg-6">
                        <MyTextEdit @bind-Text="DeliveryAddress"
                                    ReadOnly="true"
                                    Literal="Địa chỉ giao thiết bị" />
                    </div>
                </div>
            </div>
        </MyPanel>

        <!--Thông tin hư hỏng-->
        <MyPanel Title="Thông tin hư hỏng">
            <div class="container-fluid">
                <!--Row 1-------------------------------------------------->
                <div class="row">
                    <!--Ngày KH thông báo-->
                    <div class="col-12 col-lg-3">
                        <MyDateTimeEdit @bind-Date="Model.NotificationDate"
                                        Literal="Ngày KH thông báo"
                                        ReadOnly="true"
                                        TextColor="@MyTextColor.Green" />
                    </div>
                </div>

                <!--Row 2-------------------------------------------------->
                <div class="row">
                    <!--Nguyên nhân hư hỏng-->
                    <div class="col-12 col-lg-7">
                        <MyMemoEdit @ref="RefDamageCause"
                                    @bind-Text="Model.DamageCause"
                                    Rows="5"
                                    ReadOnly="true"
                                    Literal="Nguyên nhân hư hỏng" />
                    </div>
                    <!--Ghi chú-->
                    <div class="col-12 col-lg-5">
                        <MyMemoEdit @bind-Text="Model.AcceptNotes"
                                    Rows="5"
                                    ReadOnly="true"
                                    Literal="Ghi chú" />
                    </div>
                </div>

            </div><!--End container-->
        </MyPanel>

        <!--Thông tin lấy thiết bị-->
        <MyPanel Title="Thông tin lấy thiết bị">
            <div class="container-fluid">
                <!--Row 1-------------------------------------------------->
                <div class="row">
                    <!--Ngày yêu cầu lấy-->
                    <div class="col-12 col-lg-3">
                        <MyDateTimeEdit @bind-Date="Model.PickupReqDate"
                                        Literal="Ngày yêu cầu lấy"
                                        ReadOnly="true"
                                        TextColor="@MyTextColor.Green" />
                    </div>
                    <!--Ngày lấy thiết bị-->
                    <div class="col-12 col-lg-3">
                        <MyDateTimeEdit @bind-Date="Model.PickupDoneDate1"
                                        Literal="Ngày lấy thiết bị"
                                        ReadOnly="true"
                                        TextColor="@MyTextColor.Blue" />
                    </div>
                    <!--Ngày nhập thiết bị-->
                    <div class="col-12 col-lg-3">
                        <MyDateTimeEdit @bind-Date="Model.PickupDoneDate1"
                                        Literal="Ngày nhập thiết bị"
                                        ReadOnly="true"
                                        TextColor="@MyTextColor.Maroon" />
                    </div>
                </div>

                <!--Row 2-------------------------------------------------->
                <div class="row mt-2">
                    <!--Check: đã lấy thiết bị-->
                    <div class="col-12 col-lg-3">
                        <MyCheckBox @bind-Checked="@Model.PickupStatus1"
                                    TextColor="@MyTextColor.Blue">
                            Đã lấy thiết bị
                        </MyCheckBox>
                    </div>

                    <!--Check: đã nhập thiết bị-->
                    <div class="col-12 col-lg-3">
                        <MyCheckBox @bind-Checked="@Model.PickupStatus2"
                                    TextColor="@MyTextColor.Maroon"
                                    ReadOnly="@(!Model.PickupStatus1)">
                            Đã nhập thiết bị
                        </MyCheckBox>
                    </div>
                </div>

                <!--Row 3-------------------------------------------------->
                <div class="row mt-1">
                    <!--Ghi chú nhận thiết bị-->
                    <div class="col-12">
                        <MyMemoEdit @bind-Text="Model.PickupNotes"
                                    Rows="3"
                                    Literal="Ghi chú lấy thiết bị" />
                    </div>
                </div>

            </div><!--End container-->
        </MyPanel>
    </MyPanels>
</MyForm>

@code {
    [CascadingParameter] protected ProgramInfo Program { get; set; }
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter] public bool ReadOnly { get; set; } = false;
    //Parameters and events
    [Parameter] public string ClaimNo { get; set; } = "";
    //
    ClaimRequestModel Model = new ClaimRequestModel();
    MyDataGrid<EstimationModel> grid;
    //Master
    private List<OptionListModel> PriorityList = new List<OptionListModel>();
    //Selected combo value
    private OptionListModel SelectedPriority = null;
    //Ref
    private MyComboBox<OptionListModel> RefPriority;
    MyMemoEdit RefDamageCause;
    //Css
    private string PriorityCss = "";
    private bool DamageInfoCollapse = true;
    //
    private string DeliveryAddress = "";

    #region Initialization
    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();

        //Load master
        await LoadMaster();

        //Display data ..
        if (!string.IsNullOrWhiteSpace(ClaimNo))
        {
            await DisplayMain();
        }
    }
    //
    async Task LoadMaster()
    {
        PriorityList = await masterService.Load_OptionList("007");
    }
    //
    #endregion

    #region MainForm
    async Task DisplayMain()
    {
        try
        {
            //Request
            var request = new Claim.Services.String_Request();
            var Credential = new Claim.Services.UserCredential()
                {
                    Username = WebUserCredential.Username,
                    RoleID = WebUserCredential.RoleID,
                    AccessToken = WebUserCredential.AccessToken,
                    ApiKey = WebUserCredential.ApiKey
                };
            request.Credential = Credential;
            //
            request.StringValue = ClaimNo;
            //Call api
            var response = await ClaimServiceClient.GetClaimRequestAsync(request);
            // Success
            if (response != null && response.ReturnCode == GrpcReturnCode.OK)
            {
                //Show success
                ClassHelper.CopyPropertiesDataDateConverted(response.ClaimRequest, Model);
                //Priority
                SelectedPriority = PriorityList.Find(x => x.IntCode == Model.Priority);

                //DeliveryAddress
                DeliveryAddress = await masterService.Get_BrancheAddress(Model.BrancheID);

                //CSS
                PriorityCss = "";
                if (Model.Priority == 2) PriorityCss = "bg-warning";
                if (Model.Priority == 3) PriorityCss = "bg-danger";
                //Update
                Model.UpdMode = 2;
            }
            //Refresh layout
            StateHasChanged();
        }
        catch
        {
            Snackbar.Add(MyMessage.Error_LoadDataFailed, Severity.Error);
        }
    }

    bool ValidateForm()
    {
        //Skip
        if (Model.CheckStatus)
        {
            Snackbar.Add(MyMessage.Warning_DataReadOnly, Severity.Warning);
            return false;
        }
        //
        return true;
    }

    async void SaveMain()
    {
        try
        {
            //Validate input data
            var validateRes = ValidateForm();
            if (!validateRes) return;

            //Request
            var request = new SaveClaim_Request();
            var Credential = new Claim.Services.UserCredential()
                {
                    Username = WebUserCredential.Username,
                    RoleID = WebUserCredential.RoleID,
                    AccessToken = WebUserCredential.AccessToken,
                    ApiKey = WebUserCredential.ApiKey
                };
            request.Credential = Credential;
            //
            request.ClaimRequest = new grpcClaimRequestModel();

            //Clear PickupStatus2
            if (!Model.PickupStatus1)
            {
                Model.PickupStatus2 = false;
            }
            //PickupDoneDate1
            if (Model.PickupStatus1 && Model.PickupDoneDate1 == DateTime.Today.MinDate())
            {
                Model.PickupDoneDate1 = DateTime.Now;
            }
            //Clear PickupDoneDate1
            if (!Model.PickupStatus1)
            {
                Model.PickupDoneDate1 = DateTime.Today.MinDate();
            }
            //PickupDoneDate2
            if (Model.PickupStatus2 && Model.PickupDoneDate2 == DateTime.Today.MinDate())
            {
                Model.PickupDoneDate2 = DateTime.Now;
            }
            //Clear PickupDoneDate1
            if (!Model.PickupStatus2)
            {
                Model.PickupDoneDate2 = DateTime.Today.MinDate();
            }
            //PickupAccountID
            if (string.IsNullOrWhiteSpace(Model.PickupAccountID))
            {
                Model.PickupAccountID = WebUserCredential.Username;
                Model.PickupAccountName = WebUserCredential.Fullname;
            }
            //
            ClassHelper.CopyPropertiesDataDateConverted(Model, request.ClaimRequest);
            //Call api
            var response = await ClaimServiceClient.SaveClaimLogisticAsync(request);
            // Success
            if (response == null || response.ReturnCode != GrpcReturnCode.OK)
            {
                Snackbar.Add(MyMessage.Error_SaveFailed, Severity.Error);
            }

            //Submit
            MudDialog.Close(DialogResult.Ok(Model));
        }
        catch
        {
            Snackbar.Add(MyMessage.Error_SaveFailed, Severity.Error);
        }
    }
    void CloseMain()
    {
        MudDialog.Cancel();
    }
    #endregion

    #region Items


    #endregion


}
