@using System.ComponentModel.DataAnnotations;
@using Admin.Services
@using Claim.Services
@inject grpcAdminService.grpcAdminServiceClient adminServiceClient;
@inject grpcClaimService.grpcClaimServiceClient ClaimServiceClient;
@inject MasterService masterService;
@inject VoucherService voucherService;
@inject IJSRuntime JsRuntime;
@inject ISnackbar Snackbar
@inject IDialogService DialogService


<MyForm Title="Xử lý bồi thường"
        ReadOnly="@ReadOnly"
        OnCancelClick="CloseMain"
        OnSubmitClick="SaveMain">
    <ChildContent>
        <MyPanels>
            <!--Thông tin chung-->
            <MyPanel Title="Thông tin chung">
                <div class="container-fluid">
                    <!--Row 1-------------------------------------------------->
                    <div class="row">
                        <!--Số tiếp nhận-->
                        <div class="col-12 col-lg-3">
                            <MyTextEdit @bind-Text="Model.ClaimNo"
                                        ReadOnly="true"
                                        Literal="Số tiếp nhận"
                                        Width="8rem"
                                        IsFontBold="true"
                                        TextColor="@MyTextColor.Blue" />
                        </div>

                        <!--Ngày tiếp nhận-->
                        <div class="col-12 col-lg-3">
                            <MyDateTimeEdit @bind-Date="Model.ClaimDate"
                                            Literal="Ngày tiếp nhận"
                                            ReadOnly="true"
                                            TextColor="@MyTextColor.Blue" />
                        </div>
                        <!--Người tiếp nhận-->
                        <div class="col-12 col-lg-3">
                            <MyTextEdit @bind-Text="Model.ClaimAccountName"
                                        ReadOnly="true"
                                        Literal="Người tiếp nhận" />
                        </div>
                    </div>

                    <!--Row 2-------------------------------------------------->
                    <div class="row">
                        <!--Phone-->
                        <div class="col-12 col-lg-3">
                            <MyTextEdit Text="@Model.CusPhone"
                                        Literal="Điện thoại liên hệ"
                                        IsFontBold="true"
                                        TextColor="@MyTextColor.Blue"
                                        ReadOnly="true" />
                        </div>
                        <!--Tên khách hàng-->
                        <div class="col-12 col-lg-3">
                            <MyTextEdit @bind-Text="Model.CusFullname"
                                        Literal="Tên khách hàng"
                                        ReadOnly="true" />
                        </div>
                        <!--Email-->
                        <div class="col-12 col-lg-3">
                            <MyTextEdit @bind-Text="Model.CusEmail"
                                        ReadOnly="true"
                                        Literal="Email" />
                        </div>
                        <!--Số CMND/CCCD-->
                        <div class="col-12 col-lg-3">
                            <MyTextEdit @bind-Text="Model.CusCardID"
                                        ReadOnly="true"
                                        Literal="Số CMND/CCCD" />
                        </div>
                    </div>

                    <!--Row 3-------------------------------------------------->
                    <div class="row">
                        <!--Loại sản phẩm-->
                        <div class="col-12 col-lg-3">
                            <MyTextEdit @bind-Text="Model.TPAProductName"
                                        Literal="Loại sản phẩm"
                                        ReadOnly="true" />
                        </div>
                        <!--Số IMEI thiết bị-->
                        <div class="col-12 col-lg-3">
                            <MyTextEdit @bind-Text="Model.DeviceIMEI"
                                        Literal="Số IMEI thiết bị"
                                        ReadOnly="true"
                                        IsFontBold="true"
                                        TextColor="@MyTextColor.Purple" />
                        </div>
                        <!--Model-->
                        <div class="col-12 col-lg-3">
                            <MyTextEdit @bind-Text="Model.DeviceModel"
                                        ReadOnly="true"
                                        Literal="Model" />
                        </div>
                        <!--Mức độ ưu tiên-->
                        <div class="col-12 col-lg-3">
                            <MyComboBox @ref="RefPriority"
                                        @bind-Value="SelectedPriority"
                                        Data="PriorityList"
                                        ReadOnly="true"
                                        TextFieldName="@(nameof(OptionListModel.ItemName))"
                                        SelectedItemChanged="@((OptionListModel selectedRow) => {
                                                   Model.Priority = selectedRow.IntCode;
                                                   PriorityCss = "";
                                                   if (Model.Priority == 2) PriorityCss = "bg-warning";
                                                   if (Model.Priority == 3) PriorityCss = "bg-danger";
                                                   this.StateHasChanged();
                                             })"
                                        Class="@PriorityCss"
                                        Literal="Mức độ ưu tiên" />
                        </div>
                    </div>

                    <!--Row 4-------------------------------------------------->
                    <div class="row">
                        <!--Địa chỉ nhận thiết bị-->
                        <div class="col-12 col-lg-6">
                            <MyTextEdit @bind-Text="Model.PickupAddress"
                                        Literal="Địa chỉ nhận thiết bị"
                                        ReadOnly="true" />
                        </div>
                        <!--Địa chỉ trả thiết bị-->
                        <div class="col-12 col-lg-6">
                            <MyTextEdit @bind-Text="Model.ReturnAddress"
                                        ReadOnly="true"
                                        Literal="Địa chỉ trả thiết bị" />
                        </div>
                    </div>
                </div>
            </MyPanel>

            <!--Thông tin hư hỏng-->
            <MyPanel Title="Thông tin hư hỏng" IsInitiallyExpanded="false">
                <div class="container-fluid">
                    <!--Row 1-------------------------------------------------->
                    <div class="row">
                        <!--Ngày KH thông báo-->
                        <div class="col-12 col-lg-3">
                            <MyDateTimeEdit @bind-Date="Model.NotificationDate"
                                            Literal="Ngày KH thông báo"
                                            ReadOnly="true"
                                            TextColor="@MyTextColor.Green" />
                        </div>
                        <!--Ngày sự cố-->
                        <div class="col-12 col-lg-3">
                            <MyDateTimeEdit @bind-Date="Model.IncidentDate"
                                            Literal="Ngày sự cố"
                                            ReadOnly="true"
                                            TextColor="@MyTextColor.Maroon" />
                        </div>
                        <!--Kênh thông báo-->
                        <div class="col-12 col-lg-3">
                            <MyTextEdit @bind-Text="Model.NotificationChannelName"
                                        ReadOnly="true"
                                        Literal="Kênh thông báo" />
                        </div>
                        <!--Loại hư hỏng-->
                        <div class="col-12 col-lg-3">
                            <MyComboBox @ref="RefDamageType"
                                        @bind-Value="SelectedDamageCause"
                                        Data="DamageCauseList"
                                        TextFieldName="@(nameof(OptionListModel.ItemName))"
                                        SelectedItemChanged="@((OptionListModel selectedRow) => {
                                                   Model.DamageType = selectedRow.ItemCode;
                                             })"
                                        Literal="Loại hư hỏng" />
                        </div>
                    </div>

                    <!--Row 2-------------------------------------------------->
                    <div class="row">
                        <!--Nguyên nhân hư hỏng-->
                        <div class="col-12 col-lg-7">
                            <MyMemoEdit @ref="RefDamageCause"
                                        @bind-Text="Model.DamageCause"
                                        Rows="5"
                                        ReadOnly="true"
                                        Literal="Nguyên nhân hư hỏng" />
                        </div>
                        <!--Ghi chú-->
                        <div class="col-12 col-lg-5">
                            <MyMemoEdit @bind-Text="Model.AcceptNotes"
                                        Rows="5"
                                        ReadOnly="true"
                                        Literal="Ghi chú" />
                        </div>
                    </div>
                </div><!--End container-->
            </MyPanel>

            <!--Thông tin hợp đồng-->
            <MyPanel Title="Thông tin hợp đồng" IsInitiallyExpanded="false">
                <div class="container-fluid">
                    <!--Row 1-------------------------------------------------->
                    <div class="row">
                        <!--Công ty bảo hiểm-->
                        <div class="col-12 col-lg-3">
                            <MyTextEdit @bind-Text="Model.InsurCompanyName"
                                        ReadOnly="true"
                                        Literal="Công ty bảo hiểm" />
                        </div>
                        <!--Số hợp đồng-->
                        <div class="col-12 col-lg-3">
                            <MyTextEdit Text="@Model.InsurContractNo"
                                        Literal="Số hợp đồng"
                                        ReadOnly="true"
                                        IsFontBold="true"
                                        TextColor="@MyTextColor.Blue" />
                        </div>
                        <!--Từ ngày-->
                        <div class="col-6 col-lg-2">
                            <MyDateTimeEdit @bind-Date="Model.InsurStartDate"
                                            Literal="Từ ngày"
                                            ReadOnly="true"
                                            TextColor="@MyTextColor.Green" />
                        </div>
                        <!--Đến ngày-->
                        <div class="col-6 col-lg-2">
                            <MyDateTimeEdit @bind-Date="Model.InsurEndDate"
                                            Literal="Đến ngày"
                                            ReadOnly="true"
                                            TextColor="@MyTextColor.Maroon" />
                        </div>
                    </div>
                    <!--Row 2-------------------------------------------------->
                    <div class="row">
                        <!--Chi nhánh bồi thường-->
                        <div class="col-12 col-lg-3">
                            <MyTextEdit @bind-Text="Model.BrancheName"
                                        ReadOnly="true"
                                        Literal="Chi nhánh bồi thường" />
                        </div>
                        <!--Giá trị hợp đồng-->
                        <div class="col-12 col-lg-3">
                            <MyNumEdit @bind-Value="Model.ContractAmount"
                                       Format="N0"
                                       ReadOnly="true"
                                       IsFontBold="true"
                                       TextColor="@MyTextColor.Blue"
                                       Literal="Giá trị hợp đồng" />
                        </div>
                        <!--Số tiền bảo hiểm còn lại-->
                        <div class="col-12 col-lg-2">
                            <MyNumEdit @bind-Value="Model.InsurAmount"
                                       Format="N0"
                                       ReadOnly="true"
                                       IsFontBold="true"
                                       TextColor="@MyTextColor.Maroon"
                                       Literal="Tiền bảo hiểm còn lại" />
                        </div>
                    </div>

                </div><!--End container-->
            </MyPanel>

            <!--Thông tin lấy thiết bị-->
            <MyPanel Title="Thông tin lấy thiết bị" IsInitiallyExpanded="false" @ref="RefPickupInfo">
                <div class="container-fluid">
                    <!--Row 1-------------------------------------------------->
                    <div class="row">
                        <!--Công ty lấy thiết bị-->
                        <div class="col-12 col-lg-3">
                            <MyComboBox @ref="RefLogistic"
                                        @bind-Value="SelectedLogistic"
                                        Data="LogisticList"
                                        TextFieldName="@(nameof(OptionListModel.ItemName))"
                                        SelectedItemChanged="@((OptionListModel selectedRow) => {
                                                   Model.PickupCompanyID = selectedRow.ItemCode;
                                                   Model.PickupCompanyName = selectedRow.ItemName;
                                             })"
                                        ReadOnly="@Model.PickupStatus1"
                                        Literal="Công ty lấy thiết bị" />
                        </div>
                        <!--Ngày yêu cầu lấy-->
                        <div class="col-12 col-lg-3">
                            <MyDateTimeEdit @bind-Date="Model.PickupReqDate"
                                            Literal="Ngày yêu cầu lấy"
                                            ReadOnly="true"
                                            TextColor="@MyTextColor.Green" />
                        </div>
                        <!--Ngày lấy thiết bị-->
                        <div class="col-12 col-lg-3">
                            <MyDateTimeEdit @bind-Date="Model.PickupDoneDate1"
                                            Literal="Ngày lấy thiết bị"
                                            ReadOnly="true"
                                            TextColor="@MyTextColor.Blue" />
                        </div>
                        <!--Ngày nhập thiết bị-->
                        <div class="col-12 col-lg-3">
                            <MyDateTimeEdit @bind-Date="Model.PickupDoneDate1"
                                            Literal="Ngày nhập thiết bị"
                                            ReadOnly="true"
                                            TextColor="@MyTextColor.Maroon" />
                        </div>
                    </div>

                    <!--Row 2-------------------------------------------------->
                    <div class="row mt-2">
                        <!--Check: yêu cầu lấy thiết bị-->
                        <div class="col-12 col-lg-3">
                            <MyCheckBox @bind-Checked="@Model.PickupReqStatus"
                                        TextColor="@MyTextColor.Green"
                                        ReadOnly="@(Model.PickupStatus1)">
                                Yêu cầu lấy thiết bị
                            </MyCheckBox>
                        </div>
                        <!--Check: đã lấy thiết bị-->
                        <div class="col-12 col-lg-3">
                            <MyCheckBox @bind-Checked="@Model.PickupStatus1"
                                        TextColor="@MyTextColor.Blue"
                                        ReadOnly="true">
                                Đã lấy thiết bị
                            </MyCheckBox>
                        </div>

                        <!--Check: đã nhập thiết bị-->
                        <div class="col-12 col-lg-3">
                            <MyCheckBox @bind-Checked="@Model.PickupStatus2"
                                        TextColor="@MyTextColor.Maroon"
                                        ReadOnly="true">
                                Đã nhập thiết bị
                            </MyCheckBox>
                        </div>
                    </div>

                    <!--Row 3-------------------------------------------------->
                    <div class="row mt-1">
                        <!--Ghi nhận thiết bị-->
                        <div class="col-12">
                            <MyMemoEdit @bind-Text="Model.PickupNotes"
                                        Rows="3"
                                        ReadOnly="true"
                                        Literal="Ghi chú nhận thiết bị" />
                        </div>
                    </div>

                </div><!--End container-->
            </MyPanel>

            <!--Thông tin kiểm tra-->
            <MyPanel Title="Thông tin kiểm tra" IsInitiallyExpanded="false" @ref="RefCheckInfo">
                <div class="container-fluid">
                    <!--Row 1-------------------------------------------------->
                    <div class="row">
                        <!--Ngày yêu cầu lấy-->
                        <div class="col-12 col-lg-3">
                            <MyDateTimeEdit @bind-Date="Model.PickupReqDate"
                                            Literal="Ngày yêu cầu lấy"
                                            ReadOnly="true"
                                            TextColor="@MyTextColor.Green" />
                        </div>
                        <!--Ngày lấy thiết bị-->
                        <div class="col-12 col-lg-3">
                            <MyDateTimeEdit @bind-Date="Model.PickupDoneDate1"
                                            Literal="Ngày lấy thiết bị"
                                            ReadOnly="true"
                                            TextColor="@MyTextColor.Blue" />
                        </div>
                        <!--Người kiểm tra-->
                        <div class="col-12 col-lg-3">
                            <MyTextEdit @bind-Text="Model.PicAccountName"
                                        ReadOnly="true"
                                        Literal="Người phụ trách" />
                        </div>
                    </div>

                    <!--Row 2-------------------------------------------------->
                    <div class="row">
                        <!--Ghi chú kiểm tra-->
                        <div class="col-12">
                            <MyMemoEdit @bind-Text="Model.CheckNotes"
                                        Rows="5"
                                        ReadOnly="@Model.RepairStatus"
                                        Literal="Ghi chú kiểm tra" />
                        </div>
                    </div>

                    <!--Row 3-------------------------------------------------->
                    <div class="row mt-2">
                        <!--Check: kiểm tra-->
                        <div class="col-12 col-lg-3">
                            <MyCheckBox @bind-Checked="@Model.CheckStatus" TextColor="@MyTextColor.Green" ReadOnly="@(!Model.PickupStatus2 || Model.EstimationReqStatus)">Đã kiểm tra</MyCheckBox>
                        </div>
                        <!--Check: chấp nhận bồi thường-->
                        <div class="col-12 col-lg-3">
                            <MyCheckBox Checked="@Model.AcceptStatus"
                                        TextColor="@MyTextColor.Blue"
                                        CheckedChanged="@((bool value) => {
                                    Model.AcceptStatus = value;
                                    if (value) Model.CancelStatus = false;
                                })"
                                        ReadOnly="@(!Model.CheckStatus || Model.EstimationReqStatus)">Chấp nhận bồi thường</MyCheckBox>
                        </div>
                        <!--Check: Từ chối yêu cầu-->
                        <div class="col-12 col-lg-3">
                            <MyCheckBox Checked="@Model.CancelStatus"
                                        CheckedChanged="@((bool value) => {
                                    Model.CancelStatus = value;
                                    if (value) Model.AcceptStatus = false;
                                })"
                                        ReadOnly="@Model.EstimationReqStatus"
                                        TextColor="@MyTextColor.Red">Từ chối yêu cầu</MyCheckBox>
                        </div>

                    </div>

                </div><!--End container-->
            </MyPanel>

            <!--Thông báo giá & sửa chữa-->
            <MyPanel Title="Thông báo giá & sửa chữa" IsInitiallyExpanded="false" @ref="RefRepairInfo">
                <div class="container-fluid">
                    <!--Row 1-------------------------------------------------->
                    <div class="row">
                        <!--Nơi sửa chữa-->
                        <div class="col-12 col-lg-3">
                            <MyComboBox @ref="RefRepairer"
                                        @bind-Value="SelectedRepairer"
                                        Data="RepairerList"
                                        TextFieldName="@(nameof(RepairerMasterModel.RepairerName))"
                                        SelectedItemChanged="@((RepairerMasterModel selectedRow) => {
                                                   Model.RepairCompanyID = selectedRow.RepairerID;
                                                   Model.RepairCompanyName = selectedRow.RepairerName;
                                             })"
                                        ReadOnly="@Model.EstimationStatus"
                                        Literal="Nơi sửa chữa" />
                        </div>
                        <!--Ngày yêu cầu báo giá-->
                        <div class="col-12 col-lg-2">
                            <MyDateTimeEdit @bind-Date="Model.EstReqDate"
                                            Literal="Ngày yêu cầu báo giá"
                                            ReadOnly="true"
                                            TextColor="@MyTextColor.Green" />
                        </div>
                        <!--Ngày báo giá xong-->
                        <div class="col-12 col-lg-2">
                            <MyDateTimeEdit @bind-Date="Model.EstDoneDate"
                                            Literal="Ngày báo giá xong"
                                            ReadOnly="true"
                                            TextColor="@MyTextColor.Blue" />
                        </div>

                    </div>

                    <!--Row 2-------------------------------------------------->
                    <div class="row mt-2">
                        <!--Check: yêu cầu báo giá-->
                        <div class="col-12 col-lg-3">
                            <MyCheckBox @bind-Checked="@Model.EstimationReqStatus" TextColor="@MyTextColor.Green" ReadOnly="@(!Model.CheckStatus || Model.EstimationStatus)">Yêu cầu báo giá</MyCheckBox>
                        </div>
                        <!--Check: Đã báo giá-->
                        <div class="col-12 col-lg-3">
                            <MyCheckBox @bind-Checked="@Model.EstimationStatus" ReadOnly="true" TextColor="@MyTextColor.Green">Đã báo giá</MyCheckBox>
                        </div>
                    </div>

                    <!--Row 3-------------noi dung bao gia------------------------------------->
                    <div class="row mt-1">
                        <MyDataGrid @ref="@grid"
                                    T="EstimationModel"
                                    Title="Danh sách yêu cầu bồi thường"
                                    Items="@Model.Estimations"
                                    IsDelete="true">
                            <ColGroup>
                                <col style="width: 2rem;" />
                                <col style="width: 8rem;" />
                                <col style="width: 8rem;" />
                                <col style="width: 10rem;" />
                                <col style="width: 2rem;" />
                                <col style="width: 6rem;" />
                                <col style="width: 6rem;" />
                                <col style="width: 6rem;" />
                                <col />
                            </ColGroup>
                            <HeaderContent>
                                <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<EstimationModel, object>(x=>x.LineNo)">No.</MudTableSortLabel></MudTh>
                                <MudTh>Ngày giờ</MudTh>
                                <MudTh>Mã hạng mục</MudTh>
                                <MudTh>Tên hạng mục</MudTh>
                                <MudTh>Thay thế</MudTh>
                                <MudTh>Số lượng</MudTh>
                                <MudTh>Đơn giá</MudTh>
                                <MudTh>Thành tiền</MudTh>
                                <MudTh>Duyệt</MudTh>
                                <MudTh>Ghi chú</MudTh>
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd Style="text-align:center;">@context.LineNo</MudTd>
                                <MudTd Style="text-align:center">@context.IssueDate.ToString("dd/MM/yyyy HH:mm")</MudTd>
                                <MudTd Style="font-weight:bold; text-transform: uppercase;">@context.ItemCode</MudTd>
                                <MudTd>@context.ItemName</MudTd>
                                <MudTd><MudCheckBox @bind-Checked="@context.IsReplace" Color="Color.Secondary"></MudCheckBox></MudTd>
                                <MudTd Style="text-align:right; color:blue; font-weight:bold">@context.Quantity.ToString("N0")</MudTd>
                                <MudTd Style="text-align:right; color:green; font-weight:bold">@context.UnitPrice.ToString("N0")</MudTd>
                                <MudTd Style="text-align:right; color:navy; font-weight:bold">@context.Amount.ToString("N0")</MudTd>
                                <MudTd Style="text-align:right; color:maroon; font-weight:bold">@context.ApproveAmount.ToString("N0")</MudTd>
                                <MudTd>@context.Notes</MudTd>
                            </RowTemplate>
                        </MyDataGrid>
                    </div>

                    <!--Row 4-------------------------------------------------->
                    <div class="row">
                        <!--Tiền bồi thường-->
                        <div class="col-12 col-lg-2">
                            <MyNumEdit @bind-Value="Model.ClaimAmount"
                                       ReadOnly="true"
                                       IsFontBold="true"
                                       TextColor="@MyTextColor.Blue"
                                       Literal="Tiền bồi thường" />
                        </div>
                        <!--Tiền duyệt-->
                        <div class="col-12 col-lg-2">
                            <MyNumEdit @bind-Value="Model.ApproveAmount"
                                       ReadOnly="true"
                                       IsFontBold="true"
                                       TextColor="@MyTextColor.Maroon"
                                       Literal="Tiền duyệt" />
                        </div>
                        <!--Tiền chiết khấu-->
                        <div class="col-12 col-lg-2">
                            <MyNumEdit @bind-Value="Model.DeductibleAmount"
                                       T="double"
                                       ReadOnly="@Model.PayStatus"
                                       IsFontBold="true"
                                       TextColor="@MyTextColor.Red"
                                       Format="N0"
                                       Literal="Tiền chiết khấu" />
                        </div>
                        <!--Tiền đền bù-->
                        <div class="col-12 col-lg-2">
                            <MyNumEdit @bind-Value="Model.IndemnityAmount"
                                       ReadOnly="true"
                                       IsFontBold="true"
                                       TextColor="@MyTextColor.Green"
                                       Literal="Tiền đền bù" />
                        </div>
                        <!--Tiền còn lại-->
                        <div class="col-12 col-lg-2">
                            <MyNumEdit @bind-Value="Model.RemainingAmount"
                                       ReadOnly="true"
                                       IsFontBold="true"
                                       TextColor="@MyTextColor.Purple"
                                       Literal="Tiền còn lại" />
                        </div>
                    </div>

                    <!--Row 5------------------Thong tin sưa chữa-------------------------------->
                    <div class="row mt-2 align-items-end">
                        <!--Ngày sửa chữa xong-->
                        <div class="col-12 col-lg-2">
                            <MyDateTimeEdit @bind-Date="Model.RepairDoneDate"
                                            Literal="Ngày sửa chữa xong"
                                            Width="100%"
                                            ReadOnly="true"
                                            TextColor="@MyTextColor.Maroon" />
                        </div>
                        <!--Check: Đã sửa xong-->
                        <div class="col-12 col-lg-2">
                            <MyCheckBox @bind-Checked="@Model.RepairStatus" ReadOnly="true" TextColor="@MyTextColor.Green">Đã sửa xong</MyCheckBox>
                        </div>
                        <!--Số IMEI thiết bị-->
                        <div class="col-12 col-lg-3">
                            <MyTextEdit @bind-Text="Model.NewDeviceIMEI"
                                        Literal="Số IMEI thiết bị mới"
                                        ReadOnly="true"
                                        IsFontBold="true"
                                        TextColor="@MyTextColor.Purple" />
                        </div>
                        <!--Model-->
                        <div class="col-12 col-lg-3">
                            <MyTextEdit @bind-Text="Model.NewDeviceModel"
                                        ReadOnly="true"
                                        Literal="Model thiết bị mới" />
                        </div>
                    </div>
                    <!--Row 6-------------------------------------------------->
                    <div class="row">
                        <!--Nội dung yêu cầu sửa chữa-->
                        <div class="col-12 col-lg-6">
                            <MyMemoEdit @bind-Text="Model.RepairReqNotes"
                                        Rows="3"
                                        ReadOnly="@Model.RepairStatus"
                                        Literal="Nội dung yêu cầu sửa chữa" />
                        </div>
                        <!--Nội dung sửa chữa-->
                        <div class="col-12 col-lg-6">
                            <MyMemoEdit @bind-Text="Model.RepairNotes"
                                        Rows="3"
                                        ReadOnly="true"
                                        Literal="Nội dung sửa chữa" />
                        </div>
                    </div>
                </div><!--End container-->
            </MyPanel>

            <!--Thông tin duyệt-->
            <MyPanel Title="Thông tin duyệt" IsInitiallyExpanded="false" @ref="RefApproveInfo">
                <div class="container-fluid">
                    <!--Row 1-------------------------------------------------->
                    <div class="row align-items-end mt-1">
                        <!--Ngày yêu cầu duyệt-->
                        <div class="col-12 col-lg-2">
                            <MyDateTimeEdit @bind-Date="Model.ApproveReqDate"
                                            Literal="Ngày yêu cầu duyệt"
                                            ReadOnly="true"
                                            Width="100%"
                                            TextColor="@MyTextColor.Green" />
                        </div>
                        <!--Check: yêu cầu duyệt-->
                        <div class="col-12 col-lg-2">
                            <MyCheckBox @bind-Checked="@Model.ApproveReqStatus" TextColor="@MyTextColor.Green" ReadOnly="@(!Model.EstimationStatus || Model.ApproveStatus)">Yêu cầu duyệt</MyCheckBox>
                        </div>
                        <!--Ngày duyệt-->
                        <div class="col-12 col-lg-2">
                            <MyDateTimeEdit @bind-Date="Model.ApproveReqDate"
                                            Literal="Ngày duyệt"
                                            Width="100%"
                                            ReadOnly="true"
                                            TextColor="@MyTextColor.Blue" />
                        </div>
                        <!--Check: đã duyệt-->
                        <div class="col-12 col-lg-2">
                            <MyCheckBox @bind-Checked="@Model.ApproveStatus" TextColor="@MyTextColor.Green" ReadOnly="true">Đã duyệt</MyCheckBox>
                        </div>
                    </div>

                    <!--Row 2-------------------------------------------------->
                    <div class="row">
                        <!--Người duyệt-->
                        <div class="col-12 col-lg-3">
                            <MyComboBox @ref="RefApprover"
                                        @bind-Value="SelectedApprover"
                                        Data="UserList"
                                        TextFieldName="@(nameof(UserAccountModel.Fullname))"
                                        SelectedItemChanged="@((UserAccountModel selectedRow) => {
                                                   Model.ApproveAccountID = selectedRow.UserName;
                                                   Model.ApproveAccountName = selectedRow.Fullname;
                                             })"
                                        ReadOnly="@Model.ApproveStatus"
                                        Literal="Người duyệt" />
                        </div>
                    </div>
                    <!--Row 3-------------------------------------------------->
                    <div class="row">
                        <!--Ghi chú duyệt-->
                        <div class="col-12">
                            <MyMemoEdit @bind-Text="Model.ApproveNotes"
                                        Rows="3"
                                        ReadOnly="true"
                                        Literal="Ghi chú duyệt" />
                        </div>
                    </div>

                </div><!--End container-->
            </MyPanel>

            <!--Thông tin trả thiết bị-->
            <MyPanel Title="Thông tin trả thiết bị" IsInitiallyExpanded="false" @ref="RefReturnInfo">
                <div class="container-fluid">
                    <!--Row 1-------------------------------------------------->
                    <div class="row align-items-end mt-1">
                        <!--Ngày yêu cầu trả hàng-->
                        <div class="col-12 col-lg-2">
                            <MyDateTimeEdit @bind-Date="Model.ReturnReqDate"
                                            Literal="Ngày YC trả thiết bị"
                                            ReadOnly="true"
                                            Width="100%"
                                            TextColor="@MyTextColor.Green" />
                        </div>
                        <!--Check: yêu cầu trả hàng-->
                        <div class="col-12 col-lg-2">
                            <MyCheckBox @bind-Checked="@Model.ReturnReqStatus" TextColor="@MyTextColor.Green" ReadOnly="@(!Model.RepairStatus || Model.ReturnStatus1)">YC trả thiết bị</MyCheckBox>
                        </div>
                        <!--Ngày xuất hàng-->
                        <div class="col-12 col-lg-2">
                            <MyDateTimeEdit @bind-Date="Model.ReturnDoneDate1"
                                            Literal="Ngày xuất thiết bị"
                                            Width="100%"
                                            ReadOnly="true"
                                            TextColor="@MyTextColor.Blue" />
                        </div>
                        <!--Check: Đã xuất hàng-->
                        <div class="col-12 col-lg-2">
                            <MyCheckBox @bind-Checked="@Model.ReturnStatus1" TextColor="@MyTextColor.Blue" ReadOnly="true">Đã xuất thiết bị</MyCheckBox>
                        </div>
                        <!--Ngày trả hàng-->
                        <div class="col-12 col-lg-2">
                            <MyDateTimeEdit @bind-Date="Model.ReturnDoneDate2"
                                            Literal="Ngày trả thiết bị"
                                            Width="100%"
                                            ReadOnly="true"
                                            TextColor="@MyTextColor.Maroon" />
                        </div>
                        <!--Check: Đã trả hàng-->
                        <div class="col-12 col-lg-2">
                            <MyCheckBox @bind-Checked="@Model.ReturnStatus2" TextColor="@MyTextColor.Maroon" ReadOnly="true">Đã trả thiết bị</MyCheckBox>
                        </div>
                    </div>
                    <!--Row 2-------------------------------------------------->
                    <div class="row">
                        <!--Công ty trả hàng-->
                        <div class="col-12 col-lg-3">
                            <MyComboBox @ref="RefReturnComp"
                                        @bind-Value="SelectedReturnComp"
                                        Data="LogisticList"
                                        TextFieldName="@(nameof(OptionListModel.ItemName))"
                                        SelectedItemChanged="@((OptionListModel selectedRow) => {
                                                   Model.ReturnCompanyID = selectedRow.ItemCode;
                                                   Model.ReturnCompanyName = selectedRow.ItemName;
                                             })"
                                        ReadOnly="@Model.ReturnStatus1"
                                        Literal="Công ty trả thiết bị" />
                        </div>
                        <!--Người trả thiết bị-->
                        <div class="col-12 col-lg-3">
                            <MyTextEdit @bind-Text="Model.ReturnAccountName"
                                        ReadOnly="true"
                                        Literal="Người trả thiết bị" />
                        </div>
                    </div>
                    <!--Row 3-------------------------------------------------->
                    <div class="row">
                        <!--Ghi chú duyệt-->
                        <div class="col-12">
                            <MyMemoEdit @bind-Text="Model.ReturnNotes"
                                        Rows="3"
                                        ReadOnly="true"
                                        Literal="Ghi chú trả thiết bị" />
                        </div>
                    </div>

                </div><!--End container-->
            </MyPanel>

            <!--Thông tin chi trả-->
            <MyPanel Title="Thông tin chi trả" IsInitiallyExpanded="false" @ref="RefPayInfo">
                <div class="container-fluid">
                    <!--Row 1-------------------------------------------------->
                    <div class="row align-items-end mt-1">
                        <!--Ngày yêu cầu chi trả-->
                        <div class="col-12 col-lg-2">
                            <MyDateTimeEdit @bind-Date="Model.PayReqDate"
                                            Literal="Ngày yêu cầu chi trả"
                                            ReadOnly="true"
                                            Width="100%"
                                            TextColor="@MyTextColor.Green" />
                        </div>
                        <!--Check: yêu cầu chi trả-->
                        <div class="col-12 col-lg-2">
                            <MyCheckBox @bind-Checked="@Model.PayReqStatus" TextColor="@MyTextColor.Green" ReadOnly="@(!Model.RepairStatus || Model.PayStatus)">YC chi trả</MyCheckBox>
                        </div>
                        <!--Ngày chi trả-->
                        <div class="col-12 col-lg-2">
                            <MyDateTimeEdit @bind-Date="Model.PayDoneDate"
                                            Literal="Ngày chi trả"
                                            Width="100%"
                                            ReadOnly="true"
                                            TextColor="@MyTextColor.Maroon" />
                        </div>
                        <!--Check: Đã chi trả-->
                        <div class="col-12 col-lg-2">
                            <MyCheckBox @bind-Checked="@Model.PayStatus" TextColor="@MyTextColor.Maroon" ReadOnly="true">Đã chi trả</MyCheckBox>
                        </div>
                        <!--Người chi trả-->
                        <div class="col-12 col-lg-3">
                            <MyTextEdit @bind-Text="Model.PayAccountName"
                                        ReadOnly="true"
                                        Literal="Người chi trả" />
                        </div>
                    </div>
                    <!--Row 2-------------------------------------------------->
                    <div class="row">
                        <!--Ghi chú yêu cầu chi trả-->
                        <div class="col-12 col-lg-6">
                            <MyMemoEdit @bind-Text="Model.PayReqNotes"
                                        Rows="3"
                                        ReadOnly="@Model.PayStatus"
                                        Literal="Ghi chú yêu cầu chi trả" />
                        </div>
                        <!--Ghi chú chi trả-->
                        <div class="col-12 col-lg-6">
                            <MyMemoEdit @bind-Text="Model.PayNotes"
                                        Rows="3"
                                        ReadOnly="true"
                                        Literal="Ghi chú chi trả" />
                        </div>
                    </div>

                </div><!--End container-->
            </MyPanel>

        </MyPanels>
    </ChildContent>

    <ActionButtons>
        <MyButton Color="Color.Success" Icon="@Icons.Material.Filled.Image" Literal="Ảnh đính kèm" OnClick="ShowImages" />
    </ActionButtons>
</MyForm>

@code {
    [CascadingParameter] protected ProgramInfo Program { get; set; }
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter] public bool ReadOnly { get; set; } = false;
    //Parameters and events
    [Parameter] public string ClaimNo { get; set; } = "";
    //
    ClaimRequestModel Model = new ClaimRequestModel();
    MyDataGrid<EstimationModel> grid;

    //Master
    private List<OptionListModel> DamageCauseList = new List<OptionListModel>();
    private List<OptionListModel> PriorityList = new List<OptionListModel>();
    private List<OptionListModel> LogisticList = new List<OptionListModel>();
    private List<RepairerMasterModel> RepairerList = new List<RepairerMasterModel>();
    private List<UserAccountModel> UserList = new List<UserAccountModel>();
    //Selected combo value
    private OptionListModel SelectedDamageCause = null;
    private OptionListModel SelectedPriority = null;
    private OptionListModel SelectedLogistic = null;
    private OptionListModel SelectedReturnComp = null;
    private RepairerMasterModel SelectedRepairer = null;
    private UserAccountModel SelectedApprover = null;
    //Ref
    private MyComboBox<OptionListModel> RefDamageType;
    private MyComboBox<OptionListModel> RefPriority;
    private MyComboBox<OptionListModel> RefLogistic;
    private MyComboBox<OptionListModel> RefReturnComp;
    private MyComboBox<RepairerMasterModel> RefRepairer;
    private MyComboBox<UserAccountModel> RefApprover;
    MyMemoEdit RefDamageCause;
    //Css
    private string PriorityCss = "";
    MyPanel RefPickupInfo;
    MyPanel RefCheckInfo;
    MyPanel RefRepairInfo;
    MyPanel RefApproveInfo;
    MyPanel RefReturnInfo;
    MyPanel RefPayInfo;
    //Readonly
    private bool ApproveAmount_ReadOnly = true;
    //Confirm
    private string ConfirmMessage = "";
    private string ConfirmAction = "";

    #region Initialization
    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();

        //Load master
        await LoadMaster();

        //Display data ..
        if (!string.IsNullOrWhiteSpace(ClaimNo))
        {
            await DisplayMain();
        }
    }
    //
    async Task LoadMaster()
    {
        UserList = await masterService.Load_UserList();
        RepairerList = await masterService.Load_RepairerList();
        DamageCauseList = await masterService.Load_OptionList("005");
        PriorityList = await masterService.Load_OptionList("007");
        LogisticList = await masterService.Load_OptionList("009");
    }
    //
    #endregion

    #region MainForm
    async Task DisplayMain()
    {
        try
        {
            if (grid != null) grid.BeginLoadData();
            //Request
            var request = new Claim.Services.String_Request();
            var Credential = new Claim.Services.UserCredential()
                {
                    Username = WebUserCredential.Username,
                    RoleID = WebUserCredential.RoleID,
                    AccessToken = WebUserCredential.AccessToken,
                    ApiKey = WebUserCredential.ApiKey
                };
            request.Credential = Credential;
            //
            request.StringValue = ClaimNo;
            //Call api
            var response = await ClaimServiceClient.GetClaimRequestAsync(request);
            // Success
            if (response != null && response.ReturnCode == GrpcReturnCode.OK)
            {
                //Show success
                ClassHelper.CopyPropertiesDataDateConverted(response.ClaimRequest, Model);
                //DamageCause
                if (!string.IsNullOrWhiteSpace(Model.DamageType)) SelectedDamageCause = DamageCauseList.Find(x => x.ItemCode == Model.DamageType);
                //SelectedLogistic
                if (!string.IsNullOrWhiteSpace(Model.PickupCompanyID)) SelectedLogistic = LogisticList.Find(x => x.ItemCode == Model.PickupCompanyID);
                //SelectedRepairer
                if (!string.IsNullOrWhiteSpace(Model.RepairCompanyID)) SelectedRepairer = RepairerList.Find(x => x.RepairerID == Model.RepairCompanyID);
                //SelectedApprover
                //Default: Approver
                if (string.IsNullOrWhiteSpace(Model.ApproveAccountID)) Model.ApproveAccountID = WebUserCredential.ApproveAcountID;
                if (!string.IsNullOrWhiteSpace(Model.ApproveAccountID))
                {
                    SelectedApprover = UserList.Find(x => x.UserName == Model.ApproveAccountID);
                    if (SelectedApprover != null) Model.ApproveAccountName = SelectedApprover.Fullname;
                }

                //Priority
                SelectedPriority = PriorityList.Find(x => x.IntCode == Model.Priority);

                //Estimations
                if (response.ClaimRequest.Estimations != null && response.ClaimRequest.Estimations.Count > 0)
                {
                    foreach (var item in response.ClaimRequest.Estimations)
                    {
                        var estRow = new EstimationModel();
                        ClassHelper.CopyPropertiesDataDateConverted(item, estRow);
                        Model.Estimations.Add(estRow);
                    }
                }

                //CSS
                PriorityCss = "";
                if (Model.Priority == 2) PriorityCss = "bg-warning";
                if (Model.Priority == 3) PriorityCss = "bg-danger";
                //Update
                Model.UpdMode = 2;
            }

            //Show pickup
            if (!Model.PickupStatus1) RefPickupInfo.Expand();
            //Show check
            if (Model.PickupStatus2 && !Model.CheckStatus) RefCheckInfo.Expand();
            //Show Repair
            if (Model.CheckStatus && !Model.ApproveStatus) RefRepairInfo.Expand();
            //Show Approve
            if (Model.EstimationStatus && !Model.ApproveStatus) RefApproveInfo.Expand();
            //Show Return
            if (Model.RepairStatus && !Model.ReturnStatus2) RefReturnInfo.Expand();
            //Show Payment
            if (Model.RepairStatus && !Model.PayStatus) RefPayInfo.Expand();

            //Refresh layout
            if (grid != null) grid.EndLoadData();
            StateHasChanged();
        }
        catch
        {
            Snackbar.Add(MyMessage.Error_LoadDataFailed, Severity.Error);
        }
    }

    bool ValidateForm()
    {
        //Skip
        if (Model.PayStatus & Model.ReturnStatus2)
        {
            Snackbar.Add(MyMessage.Warning_DataReadOnly, Severity.Warning);
            return false;
        }
        //Loại hư hỏng
        if (string.IsNullOrWhiteSpace(Model.DamageType))
        {
            Snackbar.Add("Bắt buột nhập: Loại hư hỏng", Severity.Warning);
            RefDamageType.Focus();
            return false;
        }
        //PickupCompanyID
        if (Model.PickupReqStatus && string.IsNullOrWhiteSpace(Model.PickupCompanyID))
        {
            Snackbar.Add("Bắt buột nhập: Công ty lấy thiết bị", Severity.Warning);
            RefLogistic.Focus();
            return false;
        }
        //RepairCompanyID
        if (Model.EstimationReqStatus && string.IsNullOrWhiteSpace(Model.RepairCompanyID))
        {
            Snackbar.Add("Bắt buột nhập: Nơi sửa chữa", Severity.Warning);
            RefRepairer.Focus();
            return false;
        }
        //RepairCompanyID
        if (Model.ReturnReqStatus && string.IsNullOrWhiteSpace(Model.ReturnCompanyID))
        {
            Snackbar.Add("Bắt buột nhập: Công ty trả thiết bị", Severity.Warning);
            RefReturnComp.Focus();
            return false;
        }
        //ApproverAccount
        if (Model.ApproveReqStatus && string.IsNullOrWhiteSpace(Model.ApproveAccountID))
        {
            Snackbar.Add("Bắt buột nhập: Người duyệt", Severity.Warning);
            RefApprover.Focus();
            return false;
        }
        //
        return true;
    }

    async void SaveMain()
    {
        try
        {
            //Validate input data
            var validateRes = ValidateForm();
            if (!validateRes) return;

            //Request
            var request = new SaveClaim_Request();
            var Credential = new Claim.Services.UserCredential()
                {
                    Username = WebUserCredential.Username,
                    RoleID = WebUserCredential.RoleID,
                    AccessToken = WebUserCredential.AccessToken,
                    ApiKey = WebUserCredential.ApiKey
                };
            request.Credential = Credential;
            //
            request.ClaimRequest = new grpcClaimRequestModel();
            //Clear AcceptStatus
            if (!Model.CheckStatus || Model.CancelStatus)
            {
                Model.AcceptStatus = false;
            }
            //PickupReqDate
            if (Model.PickupReqStatus && Model.PickupReqDate == DateTime.Today.MinDate()) Model.PickupReqDate = DateTime.Now;
            if (!Model.PickupReqStatus) Model.PickupReqDate = DateTime.Today.MinDate();

            //EstReqDate
            if (Model.EstimationReqStatus && Model.EstReqDate == DateTime.Today.MinDate()) Model.EstReqDate = DateTime.Now;
            if (!Model.EstimationReqStatus) Model.EstReqDate = DateTime.Today.MinDate();

            //ApproveReqDate
            if (Model.ApproveReqStatus && Model.ApproveReqDate == DateTime.Today.MinDate()) Model.ApproveReqDate = DateTime.Now;
            if (!Model.ApproveReqStatus) Model.ApproveReqDate = DateTime.Today.MinDate();

            //ReturnReqDate
            if (Model.ReturnReqStatus && Model.ReturnReqDate == DateTime.Today.MinDate()) Model.ReturnReqDate = DateTime.Now;
            if (!Model.ReturnReqStatus) Model.ReturnReqDate = DateTime.Today.MinDate();

            //PayReqDate
            if (Model.PayReqStatus && Model.PayReqDate == DateTime.Today.MinDate()) Model.PayReqDate = DateTime.Now;
            if (!Model.PayReqStatus) Model.PayReqDate = DateTime.Today.MinDate();

            //PicAccountID
            if (string.IsNullOrWhiteSpace(Model.PicAccountID))
            {
                Model.PicAccountID = WebUserCredential.Username;
                Model.PicAccountName = WebUserCredential.Fullname;
                Model.PicPhone = WebUserCredential.PhoneNo;
            }
            //CancelStatus -> Reset: AcceptStatus
            if (Model.CancelStatus)
            {
                Model.AcceptStatus = false;
            }
            //ProcessStatus
            if (Model.PickupReqStatus || Model.CheckStatus || Model.AcceptStatus || Model.CancelStatus)
            {
                Model.ProcessStatus = true;
            }
            //
            ClassHelper.CopyPropertiesDataDateConverted(Model, request.ClaimRequest);

            //Estimations
            if (Model.Estimations != null && Model.Estimations.Count > 0)
            {
                foreach (var item in Model.Estimations)
                {
                    if (item.UpdMode != 3)
                    {
                        var estRow = new grpcEstimationModel();
                        ClassHelper.CopyPropertiesDataDateConverted(item, estRow);
                        request.ClaimRequest.Estimations.Add(estRow);
                    }
                }
            }

            //Call api
            var response = await ClaimServiceClient.SaveClaimProcessAsync(request);
            // Success
            if (response == null || response.ReturnCode != GrpcReturnCode.OK)
            {
                Snackbar.Add(MyMessage.Error_SaveFailed, Severity.Error);
            }

            //Submit
            MudDialog.Close(DialogResult.Ok(Model));
        }
        catch
        {
            Snackbar.Add(MyMessage.Error_SaveFailed, Severity.Error);
        }
    }
    void CloseMain()
    {
        MudDialog.Cancel();
    }

    //ShowImages
    async void ShowImages()
    {
        var parameters = new DialogParameters();
        parameters.Add("OwnerID", Model.ClaimNo);
        parameters.Add("CategoryID", "1");
        //
        var result = await DialogService.Show<ImagesView>("", parameters, MyOptions.GetEditFormOptions(MaxWidth.Large)).Result;
    }
    #endregion

    #region Items




    #endregion



}
