@using System.ComponentModel.DataAnnotations;
@using Admin.Services
@using Claim.Services
@inject grpcAdminService.grpcAdminServiceClient adminServiceClient;
@inject grpcClaimService.grpcClaimServiceClient ClaimServiceClient;
@inject MasterService masterService;
@inject VoucherService voucherService;
@inject IJSRuntime JsRuntime;
@inject ISnackbar Snackbar
@inject IDialogService DialogService


<MyForm Title="Yêu cầu bồi thường"
        ReadOnly="@ReadOnly"
        OnCancelClick="CloseMain"
        OnSubmitClick="SaveMain">
    <MyPanels>
        <!--Thông tin chung-->
        <MyPanel Title="Thông tin chung">
            <div class="container-fluid">
                <!--Row 1-------------------------------------------------->
                <div class="row">
                    <!--Số tiếp nhận-->
                    <div class="col-12 col-lg-3">
                        <MyTextEdit @bind-Text="Model.ClaimNo"
                                    ReadOnly="true"
                                    Literal="Số tiếp nhận"
                                    Width="8rem"
                                    Class="text-blue font-weight-bold" />
                    </div>

                    <!--Ngày tiếp nhận-->
                    <div class="col-12 col-lg-3">
                        <MyDateTimeEdit @bind-Date="Model.ClaimDate"
                                        Literal="Ngày tiếp nhận"
                                        ReadOnly="true"
                                        Class="text-blue" />
                    </div>
                    <!--Người tiếp nhận-->
                    <div class="col-12 col-lg-3">
                        <MyTextEdit @bind-Text="Model.ClaimAccountName"
                                    ReadOnly="true"
                                    Literal="Người tiếp nhận" />
                    </div>
                </div>

                <!--Row 2-------------------------------------------------->
                <div class="row">
                    <!--Phone-->
                    <div class="col-12 col-lg-3">
                        <MyTextEdit Text="@Model.CusPhone"
                                    Literal="Điện thoại liên hệ"
                                    Class="text-blue font-weight-bold"
                                    ReadOnly="true" />
                    </div>
                    <!--Tên khách hàng-->
                    <div class="col-12 col-lg-3">
                        <MyTextEdit @bind-Text="Model.CusFullname"
                                    Literal="Tên khách hàng"
                                    ReadOnly="true"
                                    Class="cusfullname-focus" />
                    </div>
                    <!--Email-->
                    <div class="col-12 col-lg-3">
                        <MyTextEdit @bind-Text="Model.CusEmail"
                                    ReadOnly="true"
                                    Literal="Email" />
                    </div>
                    <!--Số CMND/CCCD-->
                    <div class="col-12 col-lg-3">
                        <MyTextEdit @bind-Text="Model.CusCardID"
                                    ReadOnly="true"
                                    Literal="Số CMND/CCCD" />
                    </div>
                </div>

                <!--Row 3-------------------------------------------------->
                <div class="row">
                    <!--Loại sản phẩm-->
                    <div class="col-12 col-lg-3">
                        <MyTextEdit @bind-Text="Model.TPAProductName"
                                    Literal="Loại sản phẩm"
                                    ReadOnly="true" />
                    </div>
                    <!--Số IMEI thiết bị-->
                    <div class="col-12 col-lg-3">
                        <MyTextEdit @bind-Text="Model.DeviceIMEI"
                                    Literal="Số IMEI thiết bị"
                                    ReadOnly="true"
                                    Class="text-purple font-weight-bold" />
                    </div>
                    <!--Model-->
                    <div class="col-12 col-lg-3">
                        <MyTextEdit @bind-Text="Model.DeviceModel"
                                    ReadOnly="true"
                                    Literal="Model" />
                    </div>
                    <!--Mức độ ưu tiên-->
                    <div class="col-12 col-lg-3">
                        <MyComboBox @ref="RefPriority"
                                    @bind-Value="SelectedPriority"
                                    Data="PriorityList"
                                    Disabled="false"
                                    ReadOnly="true"
                                    TextFieldName="@(nameof(OptionListModel.ItemName))"
                                    SelectedItemChanged="@((OptionListModel selectedRow) => {
                                                   Model.Priority = selectedRow.IntCode;
                                                   PriorityCss = "";
                                                   if (Model.Priority == 2) PriorityCss = "bg-warning";
                                                   if (Model.Priority == 3) PriorityCss = "bg-danger";
                                                   this.StateHasChanged();
                                             })"
                                    Class="@PriorityCss"
                                    Literal="Mức độ ưu tiên" />
                    </div>
                </div>

                <!--Row 4-------------------------------------------------->
                <div class="row">
                    <!--Địa chỉ nhận thiết bị-->
                    <div class="col-12 col-lg-6">
                        <MyTextEdit @bind-Text="Model.PickupAddress"
                                    Literal="Địa chỉ nhận thiết bị"
                                    ReadOnly="true"
                                    Class="pickupaddress-focus" />
                    </div>
                    <!--Địa chỉ trả thiết bị-->
                    <div class="col-12 col-lg-6">
                        <MyTextEdit @bind-Text="Model.ReturnAddress"
                                    ReadOnly="true"
                                    Literal="Địa chỉ trả thiết bị" />
                    </div>
                </div>
            </div>
        </MyPanel>

        <!--Thông tin hư hỏng-->
        <MyPanel Title="Thông tin hư hỏng">
            <div class="container-fluid">
                <!--Row 1-------------------------------------------------->
                <div class="row">
                    <!--Ngày KH thông báo-->
                    <div class="col-12 col-lg-3">
                        <MyDateTimeEdit @bind-Date="Model.NotificationDate"
                                        Literal="Ngày KH thông báo"
                                        ReadOnly="true"
                                        Class="text-green" />
                    </div>
                    <!--Ngày sự cố-->
                    <div class="col-12 col-lg-3">
                        <MyDateTimeEdit @bind-Date="Model.IncidentDate"
                                        Literal="Ngày sự cố"
                                        ReadOnly="true"
                                        Class="text-maroon" />
                    </div>
                    <!--Kênh thông báo-->
                    <div class="col-12 col-lg-3">
                        <MyTextEdit @bind-Text="Model.NotificationChannelName"
                                    ReadOnly="true"
                                    Literal="Kênh thông báo" />
                    </div>
                    <!--Loại hư hỏng-->
                    <div class="col-12 col-lg-3">
                        <MyTextEdit @bind-Text="Model.DamageTypeName"
                                    ReadOnly="true"
                                    Literal="Loại hư hỏng" />
                    </div>
                </div>

                <!--Row 2-------------------------------------------------->
                <div class="row">
                    <!--Nguyên nhân hư hỏng-->
                    <div class="col-12 col-lg-7">
                        <MyMemoEdit @ref="RefDamageCause"
                                    @bind-Text="Model.DamageCause"
                                    Rows="5"
                                    ReadOnly="true"
                                    Literal="Nguyên nhân hư hỏng" />
                    </div>
                    <!--Ghi chú-->
                    <div class="col-12 col-lg-5">
                        <MyMemoEdit @bind-Text="Model.AcceptNotes"
                                    Rows="5"
                                    ReadOnly="true"
                                    Literal="Ghi chú" />
                    </div>
                </div>
            </div><!--End container-->
        </MyPanel>

        <!--Thông hợp tin đồng-->
        <MyPanel Title="Thông hợp tin đồng">
            <div class="container-fluid">
                <!--Row 1-------------------------------------------------->
                <div class="row">
                    <!--Công ty bảo hiểm-->
                    <div class="col-12 col-lg-3">
                        <MyTextEdit @bind-Text="Model.InsurCompanyName"
                                    ReadOnly="true"
                                    Literal="Công ty bảo hiểm" />
                    </div>
                    <!--Số hợp đồng-->
                    <div class="col-12 col-lg-3">
                        <MyTextEdit Text="@Model.InsurContractNo"
                                    Literal="Số hợp đồng"
                                    ReadOnly="true"
                                    Class="text-blue font-weight-bold" />
                    </div>
                    <!--Từ ngày-->
                    <div class="col-6 col-lg-2">
                        <MyDateTimeEdit @bind-Date="Model.InsurStartDate"
                                        Literal="Từ ngày"
                                        ReadOnly="true"
                                        Class="text-green" />
                    </div>
                    <!--Đến ngày-->
                    <div class="col-6 col-lg-2">
                        <MyDateTimeEdit @bind-Date="Model.InsurEndDate"
                                        Literal="Đến ngày"
                                        ReadOnly="true"
                                        Class="text-maroon" />
                    </div>
                </div>
                <!--Row 2-------------------------------------------------->
                <div class="row">
                    <!--Chi nhánh bồi thường-->
                    <div class="col-12 col-lg-3">
                        <MyTextEdit @bind-Text="Model.BrancheName"
                                    ReadOnly="true"
                                    Literal="Chi nhánh bồi thường" />
                    </div>
                    <!--Giá trị hợp đồng-->
                    <div class="col-12 col-lg-3">
                        <MyNumEdit @bind-Value="Model.ContractAmount"
                                   Format="N0"
                                   ReadOnly="true"
                                   Class="text-blue font-weight-bold"
                                   Literal="Giá trị hợp đồng" />
                    </div>
                    <!--Số tiền bảo hiểm còn lại-->
                    <div class="col-12 col-lg-2">
                        <MyNumEdit @bind-Value="Model.InsurAmount"
                                   Format="N0"
                                   ReadOnly="true"
                                   Class="text-maroon font-weight-bold"
                                   Literal="Tiền bảo hiểm còn lại" />
                    </div>
                </div>

            </div><!--End container-->
        </MyPanel>

        <!--Thông tin kiểm tra-->
        <MyPanel Title="Thông tin kiểm tra">
            <div class="container-fluid">
                <!--Row 1-------------------------------------------------->
                <div class="row">
                    <!--Ngày yêu cầu lấy-->
                    <div class="col-12 col-lg-3">
                        <MyDateTimeEdit @bind-Date="Model.PickupReqDate"
                                        Literal="Ngày yêu cầu lấy"
                                        ReadOnly="true"
                                        Class="text-green" />
                    </div>
                    <!--Ngày lấy thiết bị-->
                    <div class="col-12 col-lg-3">
                        <MyDateTimeEdit @bind-Date="Model.PickupDoneDate1"
                                        Literal="Ngày lấy thiết bị"
                                        ReadOnly="true"
                                        Class="text-blue" />
                    </div>
                    <!--Người kiểm tra-->
                    <div class="col-12 col-lg-3">
                        <MyTextEdit @bind-Text="Model.PicAccountName"
                                    ReadOnly="true"
                                    Literal="Người phụ trách" />
                    </div>
                </div>

                <!--Row 2-------------------------------------------------->
                <div class="row">
                    <!--Ghi chú kiểm tra-->
                    <div class="col-12">
                        <MyMemoEdit @bind-Text="Model.CheckNotes"
                                    Rows="5"
                                    ReadOnly="true"
                                    Literal="Ghi chú kiểm tra" />
                    </div>
                </div>

                <!--Row 3-------------------------------------------------->
                <div class="row mt-2">
                    <!--Check: kiểm tra-->
                    <div class="col-12 col-lg-3">
                        <DxCheckBox @bind-Checked="@Model.CheckStatus" Class="text-green" Enabled="false">Đã kiểm tra</DxCheckBox>
                    </div>
                    <!--Check: chấp nhận bồi thường-->
                    <div class="col-12 col-lg-3">
                        <DxCheckBox Checked="@Model.AcceptStatus"
                                    Class="text-blue"
                                    Enabled="false">Chấp nhận bồi thường</DxCheckBox>
                    </div>
                    <!--Check: Từ chối yêu cầu-->
                    <div class="col-12 col-lg-3">
                        <DxCheckBox Checked="@Model.CancelStatus"
                                    Enabled="false"
                                    Class="text-red">Từ chối yêu cầu</DxCheckBox>
                    </div>

                </div>

            </div><!--End container-->
        </MyPanel>

        <!--Thông báo giá & sửa chữa-->
        <MyPanel Title="Thông báo giá & sửa chữa">
            <div class="container-fluid">
                <!--Row 1-------------------------------------------------->
                <div class="row">
                    <!--Nơi sửa chữa-->
                    <div class="col-12 col-lg-3">
                        <MyTextEdit @bind-Text="Model.RepairCompanyName"
                                    ReadOnly="true"
                                    Literal="Nơi sửa chữa" />
                    </div>
                    <!--Ngày yêu cầu báo giá-->
                    <div class="col-12 col-lg-3">
                        <MyDateTimeEdit @bind-Date="Model.EstReqDate"
                                        Literal="Ngày yêu cầu báo giá"
                                        ReadOnly="true"
                                        Class="text-green" />
                    </div>
                    <!--Ngày báo giá xong-->
                    <div class="col-12 col-lg-3">
                        <MyDateTimeEdit @bind-Date="Model.EstDoneDate"
                                        Literal="Ngày báo giá xong"
                                        ReadOnly="true"
                                        Class="text-blue" />
                    </div>
                </div>

                <!--Row 2-------------------------------------------------->
                <div class="row mt-2">
                    <!--Check: yêu cầu báo giá-->
                    <div class="col-12 col-lg-3">
                        <DxCheckBox @bind-Checked="@Model.EstimationReqStatus" Class="text-green" Enabled="false">Yêu cầu báo giá</DxCheckBox>
                    </div>
                    <!--Check: Đã báo giá-->
                    <div class="col-12 col-lg-3">
                        <DxCheckBox @bind-Checked="@Model.EstimationStatus" Enabled="false" Class="text-green">Đã báo giá</DxCheckBox>
                    </div>

                </div>

                <!--Row 3-------------noi dung bao gia------------------------------------->
                <div class="row mt-1">
                    <MyDataGrid @ref="@grid"
                                T="EstimationModel"
                                Title="Danh sách yêu cầu bồi thường"
                                Items="@Model.Estimations"
                                IsDelete="true"
                                OnViewRow="@((EstimationModel row) => OnViewRow_Handle(row))">
                        <ColGroup>
                            <col style="width: 2rem;" />
                            <col style="width: 8rem;" />
                            <col style="width: 8rem;" />
                            <col style="width: 10rem;" />
                            <col style="width: 2rem;" />
                            <col style="width: 6rem;" />
                            <col style="width: 6rem;" />
                            <col style="width: 6rem;" />
                            <col />
                        </ColGroup>
                        <HeaderContent>
                            <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<EstimationModel, object>(x=>x.LineNo)">No.</MudTableSortLabel></MudTh>
                            <MudTh>Ngày giờ</MudTh>
                            <MudTh>Mã hạng mục</MudTh>
                            <MudTh>Tên hạng mục</MudTh>
                            <MudTh>Thay thế</MudTh>
                            <MudTh>Số lượng</MudTh>
                            <MudTh>Đơn giá</MudTh>
                            <MudTh>Thành tiền</MudTh>
                            <MudTh>Duyệt</MudTh>
                            <MudTh>Ghi chú</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd Style="text-align:center;">@context.LineNo</MudTd>
                            <MudTd Style="text-align:center">@context.IssueDate.ToString("dd/MM/yyyy HH:mm")</MudTd>
                            <MudTd Style="font-weight:bold; text-transform: uppercase;">@context.ItemCode</MudTd>
                            <MudTd>@context.ItemName</MudTd>
                            <MudTd><MudCheckBox @bind-Checked="@context.IsReplace" Color="Color.Primary"></MudCheckBox></MudTd>
                            <MudTd Style="text-align:right; color:blue; font-weight:bold">@context.Quantity.ToString("N0")</MudTd>
                            <MudTd Style="text-align:right; color:green; font-weight:bold">@context.UnitPrice.ToString("N0")</MudTd>
                            <MudTd Style="text-align:right; color:navy; font-weight:bold">@context.Amount.ToString("N0")</MudTd>
                            <MudTd Style="text-align:right; color:maroon; font-weight:bold">@context.ApproveAmount.ToString("N0")</MudTd>
                            <MudTd>@context.Notes</MudTd>
                        </RowTemplate>
                    </MyDataGrid>
                </div>

                <!--Row 4-------------------------------------------------->
                <div class="row">
                    <!--Tiền bồi thường-->
                    <div class="col-12 col-lg-2">
                        <MyNumEdit @bind-Value="Model.ClaimAmount"
                                   ReadOnly="true"
                                   Class="text-blue font-weight-bold"
                                   Literal="Tiền bồi thường" />
                    </div>
                    <!--Tiền duyệt-->
                    <div class="col-12 col-lg-2">
                        <MyNumEdit @bind-Value="Model.ApproveAmount"
                                   ReadOnly="true"
                                   Class="text-maroon font-weight-bold"
                                   Literal="Tiền duyệt" />
                    </div>
                    <!--Tiền chiết khấu-->
                    <div class="col-12 col-lg-2">
                        <MyNumEdit Value="Model.DeductibleAmount"
                                   ValueChanged="@((double newValue) => DeductibleAmount_Changed(newValue))"
                                   ReadOnly="@Model.PayStatus"
                                   Class="text-red font-weight-bold"
                                   Literal="Tiền chiết khấu" />
                    </div>
                    <!--Tiền đền bù-->
                    <div class="col-12 col-lg-2">
                        <MyNumEdit @bind-Value="Model.IndemnityAmount"
                                   ReadOnly="true"
                                   Class="text-green font-weight-bold"
                                   Literal="Tiền đền bù" />
                    </div>
                    <!--Tiền còn lại-->
                    <div class="col-12 col-lg-2">
                        <MyNumEdit @bind-Value="Model.RemainingAmount"
                                   ReadOnly="true"
                                   Class="text-purple font-weight-bold"
                                   Literal="Tiền còn lại" />
                    </div>
                </div>

                <!--Row 5------------------Thong tin sưa chữa-------------------------------->
                <div class="row mt-2 align-items-end">
                    <!--Ngày sửa chữa xong-->
                    <div class="col-12 col-lg-2">
                        <MyDateTimeEdit @bind-Date="Model.RepairDoneDate"
                                        Literal="Ngày sửa chữa xong"
                                        Width="100%"
                                        ReadOnly="true"
                                        Class="text-maroon" />
                    </div>
                    <!--Check: Đã sửa xong-->
                    <div class="col-12 col-lg-2">
                        <DxCheckBox @bind-Checked="@Model.RepairStatus" Enabled="false" Class="text-green">Đã sửa xong</DxCheckBox>
                    </div>
                    <!--Số IMEI thiết bị-->
                    <div class="col-12 col-lg-3">
                        <MyTextEdit @bind-Text="Model.NewDeviceIMEI"
                                    Literal="Số IMEI thiết bị mới"
                                    ReadOnly="true"
                                    Class="text-purple font-weight-bold" />
                    </div>
                    <!--Model-->
                    <div class="col-12 col-lg-3">
                        <MyTextEdit @bind-Text="Model.NewDeviceModel"
                                    ReadOnly="true"
                                    Literal="Model thiết bị mới" />
                    </div>
                </div>
                <!--Row 6-------------------------------------------------->
                <div class="row">
                    <!--Nội dung yêu cầu sửa chữa-->
                    <div class="col-12 col-lg-6">
                        <MyMemoEdit @bind-Text="Model.RepairReqNotes"
                                    Rows="3"
                                    ReadOnly="true"
                                    Literal="Nội dung yêu cầu sửa chữa" />
                    </div>
                    <!--Nội dung sửa chữa-->
                    <div class="col-12 col-lg-6">
                        <MyMemoEdit @bind-Text="Model.RepairNotes"
                                    Rows="3"
                                    ReadOnly="true"
                                    Literal="Nội dung sửa chữa" />
                    </div>
                </div>
            </div><!--End container-->
        </MyPanel>

        <!--Thông tin duyệt-->
        <MyPanel Title="Thông tin duyệt">
            <div class="container-fluid">
                <!--Row 1-------------------------------------------------->
                <div class="row align-items-end mt-1">
                    <!--Ngày yêu cầu duyệt-->
                    <div class="col-12 col-lg-2">
                        <MyDateTimeEdit @bind-Date="Model.ApproveReqDate"
                                        Literal="Ngày yêu cầu duyệt"
                                        ReadOnly="true"
                                        Width="100%"
                                        Class="text-green" />
                    </div>
                    <!--Check: yêu cầu duyệt-->
                    <div class="col-12 col-lg-2">
                        <DxCheckBox @bind-Checked="@Model.ApproveReqStatus" Class="text-green" Enabled="false">Yêu cầu duyệt</DxCheckBox>
                    </div>
                    <!--Ngày duyệt-->
                    <div class="col-12 col-lg-2">
                        <MyDateTimeEdit @bind-Date="Model.ApproveReqDate"
                                        Literal="Ngày duyệt"
                                        Width="100%"
                                        ReadOnly="true"
                                        Class="text-blue" />
                    </div>
                    <!--Check: đã duyệt-->
                    <div class="col-12 col-lg-2">
                        <DxCheckBox @bind-Checked="@Model.ApproveStatus" Class="text-green" Enabled="@(!Model.RepairStatus)">Đã duyệt</DxCheckBox>
                    </div>
                </div>

                <!--Row 2-------------------------------------------------->
                <div class="row">
                    <!--Người duyệt-->
                    <div class="col-12 col-lg-3">
                        <MyTextEdit @bind-Text="Model.ApproveAccountName"
                                    ReadOnly="true"
                                    Literal="Người duyệt" />
                    </div>
                </div>
                <!--Row 3-------------------------------------------------->
                <div class="row">
                    <!--Ghi chú duyệt-->
                    <div class="col-12">
                        <MyMemoEdit @bind-Text="Model.ApproveNotes"
                                    Rows="3"
                                    Literal="Ghi chú duyệt" />
                    </div>
                </div>

            </div><!--End container-->
        </MyPanel>

    </MyPanels>
</MyForm>


@code {
    [CascadingParameter] protected ProgramInfo Program { get; set; }
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    //Parameters and events
    [Parameter] public string ClaimNo { get; set; } = "";
    //
    bool ReadOnly;
    ClaimRequestModel Model = new ClaimRequestModel();
    MyDataGrid<EstimationModel> grid;

    //Master
    private List<OptionListModel> PriorityList = new List<OptionListModel>();
    //Selected combo value
    private OptionListModel SelectedPriority = null;
    //Ref
    private MyComboBox<OptionListModel> RefPriority;
    MyMemoEdit RefDamageCause;
    //Css
    private string PriorityCss = "";
    private bool DamageInfoCollapse = true;
    private bool InsureInfoCollapse = true;
    private bool CheckInfoCollapse = true;
    private bool RepairInfoCollapse = false;
    private bool ApproveInfoCollapse = false;
    //Readonly
    private bool ApproveAmount_ReadOnly = true;

    #region Initialization
    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();

        //Load master
        await LoadMaster();

        //Display data ..
        if (!string.IsNullOrWhiteSpace(ClaimNo))
        {
            await DisplayMain();
        }
    }
    //
    async Task LoadMaster()
    {
        PriorityList = await masterService.Load_OptionList("007");
    }
    //
    #endregion

    #region MainForm
    async Task DisplayMain()
    {
        try
        {
            //Request
            var request = new Claim.Services.String_Request();
            var Credential = new Claim.Services.UserCredential()
                {
                    Username = WebUserCredential.Username,
                    RoleID = WebUserCredential.RoleID,
                    AccessToken = WebUserCredential.AccessToken,
                    ApiKey = WebUserCredential.ApiKey
                };
            request.Credential = Credential;
            //
            request.StringValue = ClaimNo;
            //Call api
            var response = await ClaimServiceClient.GetClaimRequestAsync(request);
            // Success
            if (response != null && response.ReturnCode == GrpcReturnCode.OK)
            {
                //Show success
                ClassHelper.CopyPropertiesDataDateConverted(response.ClaimRequest, Model);

                //Priority
                SelectedPriority = PriorityList.Find(x => x.IntCode == Model.Priority);

                //Estimations
                if (response.ClaimRequest.Estimations != null && response.ClaimRequest.Estimations.Count > 0)
                {
                    foreach (var item in response.ClaimRequest.Estimations)
                    {
                        var estRow = new EstimationModel();
                        ClassHelper.CopyPropertiesDataDateConverted(item, estRow);
                        Model.Estimations.Add(estRow);
                    }
                }

                //CSS
                PriorityCss = "";
                if (Model.Priority == 2) PriorityCss = "bg-warning";
                if (Model.Priority == 3) PriorityCss = "bg-danger";
                //
                Model.UpdMode = 2;
            }

            //Refresh layout
            if (grid != null) grid.Refresh();
            StateHasChanged();
        }
        catch
        {
            Snackbar.Add(MyMessage.Error_LoadDataFailed, Severity.Error);
        }
    }

    bool ValidateForm()
    {
        //Skip
        if (Model.RepairStatus)
        {
            Snackbar.Add(MyMessage.Error_DataReadOnly, Severity.Warning);
            return false;
        }
        //
        return true;
    }

    async void SaveMain()
    {
        try
        {
            //Validate input data
            var validateRes = ValidateForm();
            if (!validateRes) return;

            //Request
            var request = new SaveClaim_Request();
            var Credential = new Claim.Services.UserCredential()
                {
                    Username = WebUserCredential.Username,
                    RoleID = WebUserCredential.RoleID,
                    AccessToken = WebUserCredential.AccessToken,
                    ApiKey = WebUserCredential.ApiKey
                };
            request.Credential = Credential;
            //
            request.ClaimRequest = new grpcClaimRequestModel();
            //ApproveDoneDate
            if (Model.ApproveStatus && Model.ApproveDoneDate == DateTime.Today.MinDate())
            {
                Model.ApproveDoneDate = DateTime.Now;
            }
            //ApproveAccountID
            Model.ApproveAccountID = WebUserCredential.Username;
            Model.ApproveAccountName = WebUserCredential.Fullname;

            //Update ApproveAmount if not set
            if (Model.Estimations != null && Model.Estimations.Count > 0 && Model.ApproveStatus)
            {
                bool hasUpdateApproveAmount = false;
                foreach (var item in Model.Estimations)
                {
                    if (item.ApproveAmount == 0)
                    {
                        item.ApproveAmount = item.Amount;
                        //
                        hasUpdateApproveAmount = true;
                    }
                }
                //Update_ApproveAmount
                if (hasUpdateApproveAmount)
                {
                    Update_ApproveAmount();
                }
            }

            //
            ClassHelper.CopyPropertiesDataDateConverted(Model, request.ClaimRequest);

            //Estimations
            if (Model.Estimations != null && Model.Estimations.Count > 0)
            {
                foreach (var item in Model.Estimations)
                {
                    if (item.UpdMode != 3)
                    {
                        var estRow = new grpcEstimationModel();
                        ClassHelper.CopyPropertiesDataDateConverted(item, estRow);
                        request.ClaimRequest.Estimations.Add(estRow);
                    }
                }
            }

            //Call api
            var response = await ClaimServiceClient.SaveClaimApproveAsync(request);
            // Success
            if (response == null || response.ReturnCode != GrpcReturnCode.OK)
            {
                Snackbar.Add(MyMessage.Error_SaveFailed, Severity.Error);
            }

            //Submit
            MudDialog.Close(DialogResult.Ok(Model));
        }
        catch
        {
            Snackbar.Add(MyMessage.Error_SaveFailed, Severity.Error);
        }
    }
    void CloseMain()
    {
        MudDialog.Cancel();
    }
    #endregion

    #region Items

    #endregion

    #region Grid main
    async void OnViewRow_Handle(EstimationModel row)
    {
        var parameters = new DialogParameters();
        parameters.Add("Model", row);
        parameters.Add("IsApprover", true);
        //
        var result = await DialogService.Show<EstimationEdit>("", parameters, MyOptions.GetMyFormOptions(MaxWidth.Small)).Result;
        if (!result.Cancelled)
        {
            var retModel = (EstimationModel)result.Data;
            var updateReccord = Model.Estimations.Find(x => x.RecNo == retModel.RecNo);
            if (updateReccord != null)
            {
                ClassHelper.CopyPropertiesData(retModel, updateReccord);
                updateReccord.IssueDate = DateTime.Now;

                //Update approve amount
                Update_ApproveAmount();
                this.StateHasChanged();
            }
        }
    }


    void DeductibleAmount_Changed(double newValue)
    {
        Model.DeductibleAmount = newValue;
        //
        Update_Summary();
        //
        this.StateHasChanged();
    }
    void Update_ApproveAmount()
    {
        //Update ApproveAmount
        Model.ApproveAmount = Model.Estimations.Sum<EstimationModel>(x => x.ApproveAmount);

        //Update_Summary
        Update_Summary();
    }
    //Update_Summary
    void Update_Summary()
    {
        //IndemnityAmount
        Model.IndemnityAmount = Model.ApproveAmount - Model.DeductibleAmount;
        //RemainingAmount
        Model.RemainingAmount = Model.InsurAmount - Model.IndemnityAmount;
    }
    #endregion


}
