@using System.ComponentModel.DataAnnotations;
@using Admin.Services
@using Claim.Services
@inject grpcAdminService.grpcAdminServiceClient adminServiceClient;
@inject grpcClaimService.grpcClaimServiceClient ClaimServiceClient;
@inject MasterService masterService;
@inject VoucherService voucherService;
@inject IJSRuntime JsRuntime;
@inject IToastService toastService
@inject IDialogService DialogService

<style>
    .mud-container {
        padding-left: 8px !important;
        padding-right: 8px !important;
    }

    .mud-expand-panel .mud-expand-panel-header {
        padding: 0 !important;
    }
</style>

<MudDialog Style="@($"width:{Width}; max-width: 100%; max-height: 100%; overflow-y: scroll")"
           ClassActions="justify-center"
           ClassContent="p-1">
    <TitleContent>
        <MudText Typo="Typo.h6">
            @if (Model.UpdMode == 1)
            {
                <MudIcon Icon="@Icons.Material.Filled.Add" Class="mr-3 mb-n1" />
            }
            else
            {
                <MudIcon Icon="@Icons.Material.Filled.Create" Class="mr-3 mb-n1" />
            }
            Yêu cầu bồi thường
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudContainer>
            <MudExpansionPanels MultiExpansion="true" Elevation="1">
                <!--Thông tin chung-->
                <MudExpansionPanel IsInitiallyExpanded="true" Dense="true" DisableGutters="true" Class="pb-2">
                    <TitleContent>
                        <h6 class="font-weight-bold">Thông tin chung</h6>
                    </TitleContent>
                    <ChildContent>
                        <div class="container-fluid">
                            <!--Row 1-------------------------------------------------->
                            <div class="row">
                                <!--Số tiếp nhận-->
                                <div class="col-12 col-lg-3">
                                    <MyTextEdit @bind-Text="Model.ClaimNo"
                                                ReadOnly="true"
                                                Literal="Số tiếp nhận"
                                                Width="8rem"
                                                InputCssClass="text-blue font-weight-bold" />
                                </div>

                                <!--Ngày tiếp nhận-->
                                <div class="col-12 col-lg-3">
                                    <MyDateTimeEdit @bind-Date="Model.ClaimDate"
                                                    Literal="Ngày tiếp nhận"
                                                    ReadOnly="true"
                                                    InputCssClass="text-blue" />
                                </div>
                                <!--Người tiếp nhận-->
                                <div class="col-12 col-lg-3">
                                    <MyTextEdit @bind-Text="Model.ClaimAccountName"
                                                ReadOnly="true"
                                                Literal="Người tiếp nhận" />
                                </div>
                            </div>

                            <!--Row 2-------------------------------------------------->
                            <div class="row">
                                <!--Phone-->
                                <div class="col-12 col-lg-3">
                                    <MyTextEdit Text="@Model.CusPhone"
                                                TextChanged="@((string x) => OnTextChanged_Phone(x))"
                                                Literal="Điện thoại liên hệ"
                                                InputCssClass="text-blue font-weight-bold"
                                                CssClass="cusphone-focus" />
                                </div>
                                <!--Tên khách hàng-->
                                <div class="col-12 col-lg-3">
                                    <MyTextEdit @bind-Text="Model.CusFullname"
                                                Literal="Tên khách hàng"
                                                CssClass="cusfullname-focus" />
                                </div>
                                <!--Email-->
                                <div class="col-12 col-lg-3">
                                    <MyTextEdit @bind-Text="Model.CusEmail"
                                                Literal="Email" />
                                </div>
                                <!--Số CMND/CCCD-->
                                <div class="col-12 col-lg-3">
                                    <MyTextEdit @bind-Text="Model.CusCardID"
                                                Literal="Số CMND/CCCD" />
                                </div>
                            </div>

                            <!--Row 3-------------------------------------------------->
                            <div class="row">
                                <!--Loại sản phẩm-->
                                <div class="col-12 col-lg-3">
                                    <MyComboBox @ref="RefProduct"
                                                @bind-Value="SelectedProduct"
                                                Data="ProductList"
                                                AllowUserInput="true"
                                                TextFieldName="@(nameof(OptionListModel.ItemName))"
                                                SelectedItemChanged="@((OptionListModel selectedRow) => {
                                                   Model.TPAProductID = selectedRow.ItemCode;
                                                   Model.TPAProductName = selectedRow.ItemName;
                                             })"
                                                Literal="Loại sản phẩm" />
                                </div>
                                <!--Số IMEI thiết bị-->
                                <div class="col-12 col-lg-3">
                                    <MyTextEdit @bind-Text="Model.DeviceIMEI"
                                                Literal="Số IMEI thiết bị"
                                                InputCssClass="text-purple font-weight-bold text-uppercase" />
                                </div>
                                <!--Model-->
                                <div class="col-12 col-lg-3">
                                    <MyTextEdit @bind-Text="Model.DeviceModel"
                                                Literal="Model" />
                                </div>
                            </div>

                            <!--Row 4-------------------------------------------------->
                            <div class="row">
                                <!--Địa chỉ nhận thiết bị-->
                                <div class="col-12 col-lg-6">
                                    <MyTextEdit @bind-Text="Model.PickupAddress"
                                                Literal="Địa chỉ nhận thiết bị"
                                                CssClass="pickupaddress-focus" />
                                </div>
                                <!--Địa chỉ trả thiết bị-->
                                <div class="col-12 col-lg-6">
                                    <MyTextEdit @bind-Text="Model.ReturnAddress"
                                                Literal="Địa chỉ trả thiết bị" />
                                </div>
                            </div>
                        </div>
                    </ChildContent>
                </MudExpansionPanel>
                <!--Thông tin hư hỏng-->
                <MudExpansionPanel IsInitiallyExpanded="true" Dense="true" DisableGutters="true" Class="pb-2">
                    <TitleContent>
                        <h6 class="font-weight-bold">Thông tin hư hỏng</h6>
                    </TitleContent>
                    <ChildContent>
                        <div class="container-fluid">
                            <!--Row 1-------------------------------------------------->
                            <div class="row">
                                <!--Ngày KH thông báo-->
                                <div class="col-12 col-lg-3">
                                    <MyDateTimeEdit @bind-Date="Model.NotificationDate"
                                                    Literal="Ngày KH thông báo"
                                                    InputCssClass="text-green" />
                                </div>
                                <!--Ngày sự cố-->
                                <div class="col-12 col-lg-3">
                                    <MyDateTimeEdit @bind-Date="Model.IncidentDate"
                                                    Literal="Ngày sự cố"
                                                    InputCssClass="text-maroon" />
                                </div>
                                <!--Kênh thông báo-->
                                <div class="col-12 col-lg-3">
                                    <MyComboBox @ref="RefChannel"
                                                @bind-Value="SelectedChannel"
                                                Data="ChannelList"
                                                AllowUserInput="true"
                                                TextFieldName="@(nameof(OptionListModel.ItemName))"
                                                SelectedItemChanged="@((OptionListModel selectedRow) => {
                                                            Model.NotificationChannelID = selectedRow.ItemCode;
                                                            Model.NotificationChannelName = selectedRow.ItemName;
                                                        })"
                                                Literal="Kênh thông báo" />
                                </div>
                                <!--Loại hư hỏng-->
                                <div class="col-12 col-lg-3">
                                    <MyComboBox @ref="RefDamageType"
                                                @bind-Value="SelectedDamageCause"
                                                Data="DamageCauseList"
                                                AllowUserInput="true"
                                                TextFieldName="@(nameof(OptionListModel.ItemName))"
                                                SelectedItemChanged="@((OptionListModel selectedRow) => {
                                                   Model.DamageType = selectedRow.ItemCode;
                                                   Model.DamageTypeName = selectedRow.ItemName;
                                             })"
                                                Literal="Loại hư hỏng" />
                                </div>
                            </div>

                            <!--Row 2-------------------------------------------------->
                            <div class="row">
                                <!--Nguyên nhân hư hỏng-->
                                <div class="col-12 col-lg-7">
                                    @*<MyMuteLabel Literal="Nguyên nhân hư hỏng" />*@
                                    <MyMemoEdit @ref="RefDamageCause"
                                                @bind-Text="Model.DamageCause"
                                                Rows="5"
                                                Literal="Nguyên nhân hư hỏng" />
                                </div>
                                <!--Ghi chú-->
                                <div class="col-12 col-lg-5">
                                    <MyMemoEdit @bind-Text="Model.AcceptNotes"
                                                Rows="5"
                                                Literal="Ghi chú" />
                                </div>
                            </div>
                        </div><!--End container-->
                    </ChildContent>
                </MudExpansionPanel>

                <!--Thông hợp tin đồng-->
                <MudExpansionPanel IsInitiallyExpanded="true" Dense="true" DisableGutters="true" Class="pb-2">
                    <TitleContent>
                        <h6 class="font-weight-bold">Thông hợp tin đồng</h6>
                    </TitleContent>
                    <ChildContent>
                        <div class="container-fluid">
                            <!--Row 1-------------------------------------------------->
                            <div class="row">
                                <!--Công ty bảo hiểm-->
                                <div class="col-12 col-lg-3">
                                    <MyComboBox @ref="RefInsure"
                                                @bind-Value="SelectedInsure"
                                                Data="InsureList"
                                                AllowUserInput="true"
                                                TextFieldName="@(nameof(OptionListModel.ItemName))"
                                                SelectedItemChanged="@((OptionListModel selectedRow) => {
                                                   Model.InsurCompanyID = selectedRow.ItemCode;
                                                   Model.InsurCompanyName = selectedRow.ItemName;
                                                   OnInsurCompanyID_Changed(Model.InsurCompanyID);
                                             })"
                                                Literal="Công ty bảo hiểm" />
                                </div>
                                <!--Số hợp đồng-->
                                <div class="col-12 col-lg-3">
                                    <MyTextEdit Text="@Model.InsurContractNo"
                                                TextChanged="@((string x) => OnInsurContractNo_Changed(x))"
                                                Literal="Số hợp đồng"
                                                InputCssClass="text-blue font-weight-bold text-uppercase" />
                                </div>
                                <!--Từ ngày-->
                                <div class="col-12 col-lg-2">
                                    <MyDateTimeEdit @bind-Date="Model.InsurStartDate"
                                                    Literal="Từ ngày"
                                                    ReadOnly="true"
                                                    InputCssClass="text-green" />
                                </div>
                                <!--Đến ngày-->
                                <div class="col-12 col-lg-2">
                                    <MyDateTimeEdit @bind-Date="Model.InsurEndDate"
                                                    Literal="Đến ngày"
                                                    ReadOnly="true"
                                                    InputCssClass="text-maroon" />
                                </div>
                            </div>

                            <!--Row 2-------------------------------------------------->
                            <div class="row">
                                <!--Chi nhánh bồi thường-->
                                <div class="col-12 col-lg-3">
                                    <MyComboBox @ref="RefBranch"
                                                @bind-Value="SelectedBranch"
                                                Data="BranchList"
                                                AllowUserInput="true"
                                                TextFieldName="@(nameof(BranchMasterModel.BranchName))"
                                                SelectedItemChanged="@((BranchMasterModel selectedRow) => {
                                                   Model.BrancheID = selectedRow.BranchID;
                                                   Model.BrancheName = selectedRow.BranchName;
                                             })"
                                                Literal="Chi nhánh bồi thường" />
                                </div>
                                <!--Mức độ ưu tiên-->
                                <div class="col-12 col-lg-3">
                                    <MyComboBox @ref="RefPriority"
                                                @bind-Value="SelectedPriority"
                                                Data="PriorityList"
                                                AllowUserInput="true"
                                                TextFieldName="@(nameof(OptionListModel.ItemName))"
                                                SelectedItemChanged="@((OptionListModel selectedRow) => {
                                                   Model.Priority = selectedRow.IntCode;
                                                   PriorityCss = "";
                                                   if (Model.Priority == 2) PriorityCss = "bg-warning";
                                                   if (Model.Priority == 3) PriorityCss = "bg-danger";
                                                   this.StateHasChanged();
                                             })"
                                                InputCssClass="@PriorityCss"
                                                Literal="Mức độ ưu tiên" />
                                </div>
                                <!--Giá trị hợp đồng-->
                                <div class="col-12 col-lg-2">
                                    <MyNumEdit @bind-Value="Model.ContractAmount"
                                               Mask="N0"
                                               ReadOnly="true"
                                               InputCssClass="text-blue font-weight-bold"
                                               Literal="Giá trị hợp đồng" />
                                </div>
                                <!--Số tiền bảo hiểm còn lại-->
                                <div class="col-12 col-lg-2">
                                    <MyNumEdit @bind-Value="Model.InsurAmount"
                                               Mask="N0"
                                               ReadOnly="true"
                                               InputCssClass="text-maroon font-weight-bold"
                                               Literal="Tiền bảo hiểm còn lại" />
                                </div>
                            </div>
                        </div><!--End container-->
                    </ChildContent>
                </MudExpansionPanel>
            </MudExpansionPanels>
        </MudContainer>
    </DialogContent>
    <DialogActions>
        <MyButtonCancel OnClick="CloseMain" />
        <MyButtonSave OnClick="SaveMain" />
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter] protected ProgramInfo Program { get; set; }
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    private string Width = "1200px";
    //Parameters and events
    [Parameter] public string ClaimNo { get; set; } = "";
    //
    private ClaimRequestModel Model = new ClaimRequestModel();
    //Master
    private List<OptionListModel> ProductList = new List<OptionListModel>();
    private List<OptionListModel> ChannelList = new List<OptionListModel>();
    private List<OptionListModel> DamageCauseList = new List<OptionListModel>();
    private List<OptionListModel> PriorityList = new List<OptionListModel>();
    private List<OptionListModel> InsureList = new List<OptionListModel>();
    private List<BranchMasterModel> BranchList = new List<BranchMasterModel>();
    //Selected combo value
    private OptionListModel SelectedProduct = null;
    private OptionListModel SelectedChannel = null;
    private OptionListModel SelectedDamageCause = null;
    private OptionListModel SelectedPriority = null;
    private OptionListModel SelectedInsure = null;
    private BranchMasterModel SelectedBranch = null;
    //Ref
    private MyComboBox<OptionListModel> RefProduct;
    private MyComboBox<OptionListModel> RefChannel;
    private MyComboBox<OptionListModel> RefDamageType;
    private MyComboBox<OptionListModel> RefPriority;
    private MyComboBox<OptionListModel> RefInsure;
    private MyComboBox<BranchMasterModel> RefBranch;
    MyMemoEdit RefDamageCause;
    //Css
    private string PriorityCss = "";

    #region Initialization
    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();

        //Load master
        await LoadMaster();

        //Display data ..
        if (string.IsNullOrWhiteSpace(ClaimNo))
        {
            await InitMain();
        }
        else
        {
            await DisplayMain();
        }
        this.StateHasChanged();
    }
    //
    async Task LoadMaster()
    {
        ProductList = await masterService.Load_OptionList("004");
        DamageCauseList = await masterService.Load_OptionList("005");
        ChannelList = await masterService.Load_OptionList("006");
        PriorityList = await masterService.Load_OptionList("007");
        InsureList = await masterService.Load_OptionList("008");
        BranchList = await masterService.Load_BranchList();
    }
    async Task InitMain()
    {
        Model = new ClaimRequestModel();
        Model.UpdMode = 1;

        //ClaimNo
        Model.ClaimNo = await voucherService.Get_NewVoucherNo();
        //ClaimDate
        Model.ClaimDate = DateTime.Now;
        //ClaimAccount
        Model.ClaimAccountID = WebUserCredential.Username;
        Model.ClaimAccountName = WebUserCredential.Fullname;
        //TPAProduct
        if (ProductList != null && ProductList.Count > 0)
        {
            SelectedProduct = ProductList[0];
            Model.TPAProductID = SelectedProduct.ItemCode;
            Model.TPAProductName = SelectedProduct.ItemName;
        }
        //NotificationDate
        Model.NotificationDate = DateTime.Now;
        //IncidentDate
        Model.IncidentDate = DateTime.Now;
        //AccidentDateTime
        Model.IncidentDate = DateTime.Now;
        //TPAProduct
        if (ChannelList != null && ChannelList.Count > 0)
        {
            SelectedChannel = ChannelList[0];
            Model.NotificationChannelID = SelectedChannel.ItemCode;
            Model.NotificationChannelName = SelectedChannel.ItemName;
        }
        //DamageCause
        if (DamageCauseList != null && DamageCauseList.Count > 0)
        {
            SelectedDamageCause = DamageCauseList[0];
            Model.DamageType = SelectedDamageCause.ItemCode;
        }
        //Branch
        if (BranchList != null && BranchList.Count > 0)
        {
            SelectedBranch = BranchList.Find(a => a.BranchID == WebUserCredential.BrancheID);
            if (SelectedBranch != null)
            {
                Model.BrancheID = SelectedBranch.BranchID;
                Model.BrancheName = SelectedBranch.BranchName;
            }
        }
        //DamageCause
        if (PriorityList != null && PriorityList.Count > 0)
        {
            SelectedPriority = PriorityList[0];
            Model.Priority = SelectedPriority.IntCode;
        }
    }
    //
    #endregion

    #region MainForm
    async Task DisplayMain()
    {
        try
        {
            //Request
            var request = new Claim.Services.String_Request();
            var Credential = new Claim.Services.UserCredential()
                {
                    Username = WebUserCredential.Username,
                    RoleID = WebUserCredential.RoleID,
                    AccessToken = WebUserCredential.AccessToken,
                    ApiKey = WebUserCredential.ApiKey
                };
            request.Credential = Credential;
            //
            request.StringValue = ClaimNo;
            //Call api
            var response = await ClaimServiceClient.GetClaimRequestAsync(request);
            // Success
            if (response != null && response.ReturnCode == GrpcReturnCode.OK)
            {
                //Show success
                ClassHelper.CopyPropertiesDataDateConverted(response.ClaimRequest, Model);
                //TPAProduct
                if (!string.IsNullOrWhiteSpace(Model.TPAProductID)) SelectedProduct = ProductList.Find(x => x.ItemCode == Model.TPAProductID);
                //Notification channel
                if (!string.IsNullOrWhiteSpace(Model.NotificationChannelID)) SelectedChannel = ChannelList.Find(x => x.ItemCode == Model.NotificationChannelID);
                //DamageType
                if (!string.IsNullOrWhiteSpace(Model.DamageType)) SelectedDamageCause = DamageCauseList.Find(x => x.ItemCode == Model.DamageType);
                //SelectedBranch
                if (!string.IsNullOrWhiteSpace(Model.InsurCompanyID)) SelectedInsure = InsureList.Find(x => x.ItemCode == Model.InsurCompanyID);
                //SelectedBranch
                if (!string.IsNullOrWhiteSpace(Model.BrancheID)) SelectedBranch = BranchList.Find(x => x.BranchID == Model.BrancheID);
                //Priority
                SelectedPriority = PriorityList.Find(x => x.IntCode == Model.Priority);

                //Estimations
                if (response.ClaimRequest.Estimations != null && response.ClaimRequest.Estimations.Count > 0)
                {
                    foreach (var item in response.ClaimRequest.Estimations)
                    {
                        var estRow = new EstimationModel();
                        ClassHelper.CopyPropertiesDataDateConverted(item, estRow);
                        Model.Estimations.Add(estRow);
                    }
                }


                //CSS
                PriorityCss = "";
                if (Model.Priority == 2) PriorityCss = "bg-warning";
                if (Model.Priority == 3) PriorityCss = "bg-danger";
                //
                Model.UpdMode = 2;
            }
            else
            {
                await InitMain();
            }

            //Refresh layout
            StateHasChanged();
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message, MyMessage.Error_LoadDataFailed);
        }
    }

    async Task<bool> ValidateForm()
    {
        //Skip
        if (Model.AcceptStatus)
        {
            toastService.ShowWarning("", MyMessage.Error_DataReadOnly);
            return false;
        }
        //Phone
        if (string.IsNullOrWhiteSpace(Model.CusPhone))
        {
            toastService.ShowWarning("Điện thoại liên hệ", "Bắt buột nhập.");
            await JsRuntime.InvokeAsync<string>("focusEditor", "cusphone-focus");
            return false;
        }
        //Tên khách hàng
        if (string.IsNullOrWhiteSpace(Model.CusFullname))
        {
            toastService.ShowWarning("Tên khách hàng", "Bắt buột nhập.");
            await JsRuntime.InvokeAsync<string>("focusEditor", "cusfullname-focus");
            return false;
        }
        //TPA Product
        if (string.IsNullOrWhiteSpace(Model.TPAProductID))
        {
            toastService.ShowWarning("Loại sản phẩm", "Bắt buột nhập.");
            RefProduct.Focus();
            return false;
        }
        //Địa chỉ nhận thiết bị
        if (string.IsNullOrWhiteSpace(Model.PickupAddress))
        {
            toastService.ShowWarning("Địa chỉ nhận thiết bị", "Bắt buột nhập.");
            await JsRuntime.InvokeAsync<string>("focusEditor", "pickupaddress-focus");
            return false;
        }
        //Kênh thông báo
        if (string.IsNullOrWhiteSpace(Model.NotificationChannelID))
        {
            toastService.ShowWarning("Kênh thông báo", "Bắt buột nhập.");
            RefChannel.Focus();
            return false;
        }
        //Loại hư hỏng
        if (string.IsNullOrWhiteSpace(Model.DamageType))
        {
            toastService.ShowWarning("Loại hư hỏng", "Bắt buột nhập.");
            RefDamageType.Focus();
            return false;
        }
        //Nguyên nhân hư hỏng
        if (string.IsNullOrWhiteSpace(Model.DamageCause))
        {
            toastService.ShowWarning("Nguyên nhân hư hỏng", "Bắt buột nhập.");
            RefDamageCause.Focus();
            return false;
        }
        //Công ty bảo hiểm
        if (string.IsNullOrWhiteSpace(Model.InsurCompanyID))
        {
            toastService.ShowWarning("Công ty bảo hiểm", "Bắt buột nhập.");
            RefInsure.Focus();
            return false;
        }
        //Chi nhánh bồi thường
        if (string.IsNullOrWhiteSpace(Model.BrancheID))
        {
            toastService.ShowWarning("Chi nhánh bồi thường", "Bắt buột nhập.");
            RefBranch.Focus();
            return false;
        }
        //
        return true;
    }

    async void SaveMain()
    {
        try
        {
            //Validate input data
            var validateRes = await ValidateForm();
            if (!validateRes) return;

            //Request
            var request = new SaveClaim_Request();
            var Credential = new Claim.Services.UserCredential()
                {
                    Username = WebUserCredential.Username,
                    RoleID = WebUserCredential.RoleID,
                    AccessToken = WebUserCredential.AccessToken,
                    ApiKey = WebUserCredential.ApiKey
                };
            request.Credential = Credential;
            //
            request.ClaimRequest = new grpcClaimRequestModel();
            //ReturnAddress -> PickupAddress
            if (string.IsNullOrWhiteSpace(Model.ReturnAddress))
            {
                Model.ReturnAddress = Model.PickupAddress;
            }

            ClassHelper.CopyPropertiesDataDateConverted(Model, request.ClaimRequest);
            //Call api
            var response = await ClaimServiceClient.SaveClaimRequestAsync(request);
            // Success
            if (response == null || response.ReturnCode != GrpcReturnCode.OK)
            {
                toastService.ShowError("", MyMessage.Error_SaveFailed);
            }

            //Close
            MudDialog.Close(DialogResult.Ok(Model));
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message, MyMessage.Error_SaveFailed);
        }
    }
    void CloseMain()
    {
        MudDialog.Cancel();
    }
    #endregion

    #region Items
    async void OnTextChanged_Phone(string cusPhone)
    {
        try
        {
            Model.CusPhone = cusPhone;
            //
            if (!string.IsNullOrWhiteSpace(cusPhone))
            {
                //Request
                var request = new Claim.Services.String_Request();
                var Credential = new Claim.Services.UserCredential()
                    {
                        Username = WebUserCredential.Username,
                        RoleID = WebUserCredential.RoleID,
                        AccessToken = WebUserCredential.AccessToken,
                        ApiKey = WebUserCredential.ApiKey
                    };
                request.Credential = Credential;
                //
                request.StringValue = cusPhone;
                //Call api
                var response = await ClaimServiceClient.GetCustomerInfoAsync(request);
                // Success
                if (response != null && response.ReturnCode == GrpcReturnCode.OK)
                {
                    Model.CusEmail = response.CusEmail;
                    Model.CusFullname = response.CusFullname;
                    Model.CusCardID = response.CusCardID;
                    Model.PickupAddress = response.PickupAddress;
                    //
                    this.StateHasChanged();
                }
            }
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message, MyMessage.Error_NoNetwork);
        }
    }

    // Get contract info
    void OnInsurContractNo_Changed(string insurContractNo)
    {
        Model.InsurContractNo = insurContractNo;
        Get_InsureContraction(Model.InsurContractNo, Model.InsurCompanyID);
    }
    void OnInsurCompanyID_Changed(string insurCompanyID)
    {
        Model.InsurCompanyID = insurCompanyID;
        Get_InsureContraction(Model.InsurContractNo, Model.InsurCompanyID);
    }
    async void Get_InsureContraction(string insurContractNo, string insurCompanyID)
    {
        try
        {
            //validate
            if (string.IsNullOrWhiteSpace(insurContractNo) || string.IsNullOrWhiteSpace(insurCompanyID)) return;

            //Request
            var request = new Claim.Services.GetInsureContract_Request();
            var Credential = new Claim.Services.UserCredential()
                {
                    Username = WebUserCredential.Username,
                    RoleID = WebUserCredential.RoleID,
                    AccessToken = WebUserCredential.AccessToken,
                    ApiKey = WebUserCredential.ApiKey
                };
            request.Credential = Credential;
            //
            request.InsurCompanyID = insurCompanyID;
            request.InsurContractNo = insurContractNo;
            //Call api
            var response = await ClaimServiceClient.GetInsureContractAsync(request);
            // Success
            if (response != null || response.ReturnCode == GrpcReturnCode.OK)
            {
                Model.InsurStartDate = response.InsurStartDate.ToLocalDateFromTimestamp();
                Model.InsurEndDate = response.InsurEndDate.ToLocalDateFromTimestamp();
                Model.ContractAmount = response.ContractAmount;
                Model.InsurAmount = response.InsurAmount;
                //
                this.StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message, MyMessage.Error_NoNetwork);
        }
    }
    //


    #endregion


}
