@page "/ClaimReturn"
@using Admin.Services
@using Claim.Services
@using System.Collections.ObjectModel;
@using System.IO;
@inject grpcAdminService.grpcAdminServiceClient adminServiceClient;
@inject grpcClaimService.grpcClaimServiceClient ClaimServiceClient;
@inject MasterService masterService;
@inject IDialogService DialogService
@inject IJSRuntime JsRuntime;
@inject ISnackbar Snackbar

<!--Header-->
<MyPanels>
    <MyPanel Title="Bộ lọc">
        <div class="container-fluid">
            <!--Row 1-------------------------------------------------->
            <div class="row align-items-end">
                <!--Thời gian-->
                <div class="col-12 col-lg-4">
                    <div class="row">
                        <!--Time flag-->
                        <div class="col-12 col-lg-4">
                            <MyComboBox @bind-Value="Filter_TimeFlag"
                                        Data="TimeFlagList"
                                        TextFieldName="@(nameof(CodeNameModel.Name))"
                                        SelectedItemChanged="@((CodeNameModel selectedItem) =>
                                                       {
                                                            var timeRange = MyDateTimeSelector.Select_DateTimeRange1(selectedItem);
                                                            Filter_StartDate = timeRange.StartDate;
                                                            Filter_EndDate = timeRange.EndDate;
                                                            this.StateHasChanged();
                                                       })"
                                        Clearable="true"
                                        Literal="Thời gian" />
                        </div>
                        <!--Start-->
                        <div class="col-6 col-lg-4">
                            <MyDateEdit @bind-Date="Filter_StartDate"
                                        Format="dd/MM/yyyy"
                                        Width="100%"
                                        Literal="Từ ngày" />
                        </div>
                        <!--End-->
                        <div class="col-6 col-lg-4">
                            <MyDateEdit @bind-Date="Filter_EndDate"
                                        Format="dd/MM/yyyy"
                                        Width="100%"
                                        Literal="Đến ngày" />
                        </div>
                    </div>
                </div>
                <!--Trạng thái-->
                <div class="col-12 col-lg-2 pr-lg-3">
                    <div class="row align-items-end">
                        <div class="col-8">
                            <MyComboBox @bind-Value="Filter_Status"
                                        Data="StatusList"
                                        TextFieldName="@(nameof(CodeNameModel.Name))"
                                        Clearable="true"
                                        Literal="Trạng thái" />
                        </div>
                        <div class="col-4">
                            <!--Check Chưa/Xong-->
                            <MyCheckBox Checked="@StatusCheck"
                                        CheckedChanged="@((bool newValue) => {
                                                      StatusCheck = newValue;
                                                      CheckName = newValue? "Xong" : "Chưa";
                                                  })">
                                @CheckName
                            </MyCheckBox>
                        </div>
                    </div>
                </div>
                <!--Search buttion-->
                <div class="col-12 col-lg-2 mt-2">
                    <MyButtonSearch OnClick="@(() => DisplayMain())" />
                </div>

            </div>

        </div><!--End container-->
    </MyPanel>
</MyPanels>

<!--Grid-->
<MyDataGrid @ref="@grid"
            T="ClaimRequestListModel"
            Title="Danh sách trả thiết bị"
            Items="@DetailData"
            OnViewRow="@((ClaimRequestListModel row) => OnViewRow_Handle(row))">
    <ColGroup>
        <col style="width: 8rem;" />
        <col style="width: 8rem;" />
        <col style="width: 10rem;" />
        <col />
        <col style="width: 8rem;" />
        <col style="width: 6rem;" />
        <col style="width: 5rem;" />
        <col style="width: 5rem;" />
    </ColGroup>
    <HeaderContent>
        <MudTh><MudTableSortLabel InitialDirection="SortDirection.Descending" SortBy="new Func<ClaimRequestListModel, object>(x=>x.ClaimNo)">Số tiếp nhận</MudTableSortLabel></MudTh>
        <MudTh>Trạng thái</MudTh>
        <MudTh>Model thiết bị</MudTh>
        <MudTh>Địa chỉ trả thiết bị</MudTh>
        <MudTh>Tên khách hàng</MudTh>
        <MudTh>Điện thoại</MudTh>
        <MudTh>Ngày YC duyệt</MudTh>
        <MudTh>Trung tâm bồi thường</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd Style="text-align:center; color:blue; font-weight:bold">@context.ClaimNo</MudTd>
        <MudTd Style="text-align:center; color:green; font-weight:bold">@context.StatusName</MudTd>
        <MudTd>@context.DeviceModel</MudTd>
        <MudTd>@context.ReturnAddress</MudTd>
        <MudTd>@context.CusFullname</MudTd>
        <MudTd Style="text-align:center">@context.CusPhone</MudTd>
        <MudTd Style="text-align:center; color:green;">@context.ReturnReqDate.ToString("dd/MM/yyyy HH:mm")</MudTd>
        <MudTd>@context.BrancheName</MudTd>
    </RowTemplate>
</MyDataGrid>


@code {
    //Program
    [CascadingParameter]
    protected ProgramInfo Program { get; set; }

    MyDataGrid<ClaimRequestListModel> grid;
    readonly ObservableCollection<ClaimRequestListModel> DetailData = new ObservableCollection<ClaimRequestListModel>();

    // Master
    private List<CodeNameModel> StatusList = MyClaimStatus.Get_ReturnStatusList();
    private List<CodeNameModel> TimeFlagList = MyDateTimeSelector.Get_TimeRangeList();

    //Filter
    private CodeNameModel Filter_Status { get; set; } = new CodeNameModel { CodeInt = 10, Name = "Trả hàng" };
    private CodeNameModel Filter_TimeFlag { get; set; }
    private DateTime Filter_StartDate { get; set; } = DateTime.Today.MinDate().ToLocalTime();
    private DateTime Filter_EndDate { get; set; } = DateTime.Today.MaxDate().ToLocalTime();
    //
    private bool StatusCheck = false;
    private string CheckName = "Chưa";
    //
    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();

        //Display data ..
        await DisplayMain();
    }
    #region Load data
    //
    async Task DisplayMain()
    {
        try
        {
            if (grid != null) grid.BeginLoadData();
            //Filter
            var request = new Claim.Services.GetReturnList_Request();
            request.Credential = new Claim.Services.UserCredential()
                {
                    Username = WebUserCredential.Username,
                    RoleID = WebUserCredential.RoleID,
                    AccessToken = WebUserCredential.AccessToken,
                    ApiKey = WebUserCredential.ApiKey
                };
            //PickupCompanyID
            request.ReturnCompanyID = WebUserCredential.LogisticCompanyID;
            //Status
            if (Filter_Status != null && Filter_Status.CodeInt != 0) request.Status = Filter_Status.CodeInt;
            //Status check
            request.StatusCheck = StatusCheck;
            //Time range
            request.StartDate = Filter_StartDate.ToTimestampFromLocalTime();
            request.EndDate = Filter_EndDate.ToTimestampFromLocalTime();
            //
            var response = await ClaimServiceClient.GetReturnListAsync(request);
            if (response != null && response.ReturnCode == GrpcReturnCode.OK)
            {
                if (response.ClaimRequests != null)
                {
                    //Get data from DB
                    DetailData.Clear();
                    //
                    foreach (var item in response.ClaimRequests)
                    {
                        //Parrent grid
                        var dataRow = new ClaimRequestListModel();
                        ClassHelper.CopyPropertiesDataDateConverted(item, dataRow);
                        //Status name
                        dataRow.StatusName = MyClaimStatus.Get_ReturnStatusName(dataRow);
                        //Row mode
                        dataRow.RowMode_View = false;
                        dataRow.RowMode_Edit = true;
                        dataRow.RowMode_Delete = false;
                        if (dataRow.CloseStatus)
                        {
                            dataRow.RowMode_View = true;
                            dataRow.RowMode_Edit = false;
                        }
                        //
                        DetailData.Add(dataRow);
                    }
                }
            }
            if (DetailData.Count == 0)
            {
                Snackbar.Add(MyMessage.Warning_NoData, Severity.Warning);
            }
            if (grid != null) grid.EndLoadData();
        }
        catch
        {
            Snackbar.Add(MyMessage.Error_LoadDataFailed, Severity.Error);
        }
    }

    #endregion

    #region Grid main
    //
    void OnViewRow_Handle(ClaimRequestListModel row)
    {
        var parameters = new DialogParameters { ["ClaimNo"] = row.ClaimNo };
        parameters.Add("ReadOnly", row.RowMode_View);
        ShowDetailForm(parameters);
    }

    async void ShowDetailForm(DialogParameters parameters)
    {
        var result = await DialogService.Show<ClaimReturnEdit>("", parameters, MyOptions.GetMyFormOptions(MaxWidth.Large)).Result;
        if (!result.Cancelled)
        {
            await DisplayMain();
        }
    }

    #endregion

}
