@page "/functionlist"
@using Cores.Admin.Services
@using System.Collections.ObjectModel;
@inject grpcAdminService.grpcAdminServiceClient adminServiceClient;
@inject IJSRuntime JsRuntime;
@inject IToastService toastService

<br />
<div style="width:100%">
    <DxDataGrid @ref="@grid"
                Data="@DetailData"
                EditMode="DataGridEditMode.PopupEditForm"
                PageSize="18"
                ShowFilterRow="true"
                HtmlRowDecoration="@OnHtmlRowDecoration"
                HorizontalScrollBarMode="ScrollBarMode.Auto"
                RowEditStart="@(dataRow => OnRowEditStarting(dataRow))"
                RowInsertStart="@(() => OnRowEditStarting(null))">
        <Columns>
            <DxDataGridColumn Field="@nameof(FunctionListModel.PageID)"
                              Width="8rem" />
            <DxDataGridColumn Field="@nameof(FunctionListModel.PageName)"
                              Width="15rem" />
            <DxDataGridColumn Field="@nameof(FunctionListModel.Discriptions)"
                              Caption="Descriptions"
                              Width="10rem" />
            <DxDataGridColumn Field="@nameof(FunctionListModel.F1)"
                              Width="8rem" />
            <DxDataGridColumn Field="@nameof(FunctionListModel.F2)"
                              Width="8rem" />
            <DxDataGridColumn Field="@nameof(FunctionListModel.F3)"
                              Width="8rem" />
            <DxDataGridColumn Field="@nameof(FunctionListModel.F4)"
                              Width="8rem" />
            <DxDataGridColumn Field="@nameof(FunctionListModel.F5)"
                              Width="8rem" />
            <DxDataGridDateEditColumn Field="@nameof(FunctionListModel.CreatedOn)"
                                      Caption="CreatedOn"
                                      DisplayFormat="dd/MM/yyyy HH:mm"
                                      Width="10rem" />
            <DxDataGridDateEditColumn Field="@nameof(FunctionListModel.ModifiedOn)"
                                      Caption="ModifiedOn"
                                      DisplayFormat="dd/MM/yyyy HH:mm"
                                      Width="10rem" />
            <!--Command columns-->
            <MyGridCommand Grid="grid"
                           ShowAddnew="true"
                           ShowEdit="true"
                           ShowDelete="true"
                           OnRowRemoving="@((context) => OnRowRemoving(context as FunctionListModel))" />
        </Columns>
        <EditFormTemplate>
            <EditForm Model="@EditContext" Context="EditFormContext" OnValidSubmit="@UpdateRow">
                <DataAnnotationsValidator />
                <DxFormLayout>
                    <DxFormLayoutItem Caption="Page ID: " ColSpanMd="12" Context="FormLayoutContext">
                        <Template>
                            <DxTextBox @bind-Text="@EditContext.PageID" />
                            <ValidationMessage For="@(() => EditContext.PageID)" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Page Name: " ColSpanMd="12" Context="FormLayoutContext">
                        <Template>
                            <DxTextBox @bind-Text="@EditContext.PageName" />
                            <ValidationMessage For="@(() => EditContext.PageName)" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Descriptions: " ColSpanMd="12" Context="FormLayoutContext">
                        <Template>
                            <DxTextBox @bind-Text="@EditContext.Discriptions" />
                            <ValidationMessage For="@(() => EditContext.Discriptions)" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="F1: " ColSpanMd="12" Context="FormLayoutContext">
                        <Template>
                            <DxTextBox @bind-Text="@EditContext.F1" />
                            <ValidationMessage For="@(() => EditContext.F1)" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="F2: " ColSpanMd="12" Context="FormLayoutContext">
                        <Template>
                            <DxTextBox @bind-Text="@EditContext.F2" />
                            <ValidationMessage For="@(() => EditContext.F2)" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="F3: " ColSpanMd="12" Context="FormLayoutContext">
                        <Template>
                            <DxTextBox @bind-Text="@EditContext.F3" />
                            <ValidationMessage For="@(() => EditContext.F3)" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="F4: " ColSpanMd="12" Context="FormLayoutContext">
                        <Template>
                            <DxTextBox @bind-Text="@EditContext.F4" />
                            <ValidationMessage For="@(() => EditContext.F4)" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="F5: " ColSpanMd="12" Context="FormLayoutContext">
                        <Template>
                            <DxTextBox @bind-Text="@EditContext.F5" />
                            <ValidationMessage For="@(() => EditContext.F5)" />
                        </Template>
                    </DxFormLayoutItem>
                    <!--OK Cancel-->
                    <MyGridEditFormOKCancel OnCancelClick="OnCancelButtonClick" />
                </DxFormLayout>
            </EditForm>
        </EditFormTemplate>
    </DxDataGrid>
    <br />
    <div class="text-center">
        <MyButtonSave OnClick="ShowConfirm_SaveMain" />
        <MyButtonCancel OnClick="ShowConfirm_CancelSaveMain" />
    </div>
</div>

<ConfirmDialog Message="@ConfirmMessage" @bind-Visible="@PopupVisible" confirm="@ConfirmHandler" />

@code{
    FormEditContext EditContext = null;
    // Detail data
    readonly ObservableCollection<FunctionListModel> DetailData = new ObservableCollection<FunctionListModel>();
    // Popup
    private string ConfirmMessage = "";
    private string ConfirmAction = "";
    private bool PopupVisible = false;
    //
    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();


        //Display data ..
        await DisplayMain();
    }
    #region Load data

    async Task DisplayMain()
    {
        try
        {
            //Filter
            var requestString = new Empty_Request()
            {
                Credential = new UserCredential()
                {
                    Username = WebUserCredential.Username,
                    RoleID = WebUserCredential.RoleID,
                    AccessToken = WebUserCredential.AccessToken,
                    ApiKey = WebUserCredential.ApiKey
                }
            };

            //Get data from DB
            DetailData.Clear();
            var response = await adminServiceClient.GetFunctionListAsync(requestString);
            if (response != null && response.ReturnCode == 200)
            {
                foreach (var item in response.FunctionList)
                {
                    FunctionListModel dataRow = new FunctionListModel();
                    ClassHelper.CopyPropertiesDataDateConverted(item, dataRow);
                    //Upd mode
                    dataRow.UpdMode = 0;
                    //
                    DetailData.Add(dataRow);
                }
            }
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message, "Load function list failed.");
        }
    }
    #endregion

    #region Save

    void ConfirmHandler()
    {
        //Delete row
        if (ConfirmAction == "DeleteRow")
        {
            DeleteRow();
        }
        //Save main
        if (ConfirmAction == "SaveMain")
        {
            SaveMain();
        }
        //Cancel save main
        if (ConfirmAction == "CancelSaveMain")
        {
            CancelSaveMain();
        }
        //Close confirm delete popup
        PopupVisible = false;
        StateHasChanged();
    }

    //Cancel changed
    void ShowConfirm_CancelSaveMain()
    {
        if (!Check_Changed())
        {
            //Show message: Nothing changed!
            toastService.ShowInfo("", "Nothing Changed!");
            return;
        }
        //Show popup confirm
        ConfirmMessage = "Cancel changed?";
        ConfirmAction = "CancelSaveMain";
        PopupVisible = true;
        StateHasChanged();
    }
    async void CancelSaveMain()
    {
        //Reload data
        await DisplayMain();
    }

    //Save main
    void ShowConfirm_SaveMain()
    {
        if (!Check_Changed())
        {
            //Show message: Nothing changed!
            toastService.ShowInfo("", "Nothing Changed!");
            return;
        }
        //Show popup confirm
        ConfirmMessage = "Save changed?";
        ConfirmAction = "SaveMain";
        PopupVisible = true;
        StateHasChanged();
    }

    //Check changed
    bool Check_Changed()
    {
        foreach (FunctionListModel row in DetailData)
        {
            if (row.UpdMode != 0)
            {
                return true;
            }
        }
        return false;
    }
    //
    async void SaveMain()
    {
        try
        {
            var hasChanged = false;
            //Request
            SaveFunctionList_Request request = new SaveFunctionList_Request();
            var Credential = new UserCredential()
            {
                Username = WebUserCredential.Username,
                RoleID = WebUserCredential.RoleID,
                AccessToken = WebUserCredential.AccessToken,
                ApiKey = WebUserCredential.ApiKey
            };
            request.Credential = Credential;
            //
            foreach (FunctionListModel row in DetailData)
            {
                if (row.UpdMode != 0)
                {
                    //Convert to DB row
                    var dbRow = new grpcFunctionList();
                    ClassHelper.CopyPropertiesDataDateConverted(row, dbRow);
                    request.FunctionList.Add(dbRow);
                    //
                    hasChanged = true;
                }
            }
            //Check changed
            if (!hasChanged)
            {
                //Message no change
                toastService.ShowInfo("", "Nothing Changed!");
                return;
            }

            //Call api
            var response = await adminServiceClient.SaveFunctionListAsync(request);
            // Success
            if (response.ReturnCode == 200)
            {
                //Show success
                toastService.ShowSuccess("", "Save Success!");
            }
            //Error call
            if (response == null)
            {
                //Show error Call grpc
                return;
            }
            if (response.ReturnCode != 200)
            {
                //201: Data not found
                if (response.ReturnCode == 201)
                {
                    //Show error 201
                    toastService.ShowError("", "Error 201");
                }
                //500: Data not found
                if (response.ReturnCode == 500)
                {
                    //Show error 500
                    toastService.ShowError("", "Error 500");
                }
                return;
            }
            //Reload data
            await DisplayMain();
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message, "Lưu thất bại.");
        }
    }

    #endregion

    #region Grid main
    //Confirm delete
    FunctionListModel DeletedRow = null;
    void OnRowRemoving(FunctionListModel dataRow)
    {
        DeletedRow = dataRow;

        //Show popup confirm
        ConfirmMessage = "Delete row?";
        ConfirmAction = "DeleteRow";
        PopupVisible = true;
        StateHasChanged();
    }

    //Cancel edit
    async Task OnCancelButtonClick()
    {
        await grid.CancelRowEdit();
        EditContext = null;
    }

    async void DeleteRow()
    {
        //Set to delete mode
        if (DeletedRow.UpdMode == 1)
        {
            //Remove new row from data source
            DetailData.Remove(DeletedRow);
        }
        else
        {
            //Mark to delete
            DeletedRow.UpdMode = 3;
        }

        //Refresh layout
        await grid.Refresh();
    }
    //Update row
    async Task UpdateRow()
    {
        //Update for edit field
        var backupRow = new FunctionListModel();
        ClassHelper.CopyPropertiesData(EditContext.EditingRow, backupRow);
        //
        EditContext.EditingRow.PageID = EditContext.PageID;
        EditContext.EditingRow.PageName = EditContext.PageName;
        EditContext.EditingRow.Discriptions = EditContext.Discriptions;
        EditContext.EditingRow.F1 = EditContext.F1;
        EditContext.EditingRow.F2 = EditContext.F2;
        EditContext.EditingRow.F3 = EditContext.F3;
        EditContext.EditingRow.F4 = EditContext.F4;
        EditContext.EditingRow.F5 = EditContext.F5;
        EditContext.EditingRow.ModifiedOn = DateTime.Now;

        //Update mode
        if (EditContext.EditingRow.UpdMode == 0 || EditContext.EditingRow.UpdMode == 3)
        {
            EditContext.EditingRow.UpdMode = 2;
        }

        //Insert to datasource
        if (EditContext.EditingRow.UpdMode == -1)
        {
            EditContext.EditingRow.UpdMode = 1;
            DetailData.Add(EditContext.EditingRow);
        }

        //Close popup & refresh data
        await grid.CancelRowEdit();
        await grid.Refresh();
    }
    // Edit row model
    DxDataGrid<FunctionListModel> grid;
    class FormEditContext : FunctionListModel
    {
        public FormEditContext(FunctionListModel functionListModel)
        {
            //Saved data
            EditingRow = functionListModel;

            //Editable data only
            PageID = EditingRow.PageID;
            PageName = EditingRow.PageName;
            Discriptions = EditingRow.Discriptions;
            F1 = EditingRow.F1;
            F2 = EditingRow.F2;
            F3 = EditingRow.F3;
            F4 = EditingRow.F4;
            F5 = EditingRow.F5;
        }
        public FunctionListModel EditingRow { get; set; }
        public Action StateHasChanged { get; set; }
    }

    //Get data for edit/insert
    void OnRowEditStarting(FunctionListModel editingRow)
    {
        //Init new row
        if (editingRow == null)
        {
            editingRow = new FunctionListModel();
            //
            //editingRow.SystemID = SelectedListCode;
            editingRow.CreatedOn = DateTime.Now;
            editingRow.ModifiedOn = DateTime.Now;
            editingRow.UpdMode = -1;
        }
        EditContext = new FormEditContext(editingRow);
    }
    // Color of edit data
    void OnHtmlRowDecoration(DataGridHtmlRowDecorationEventArgs<FunctionListModel> eventArgs)
    {
        MyColor myColor = new MyColor();
        if (eventArgs.DataItem.UpdMode == 1)
            eventArgs.Style += myColor.NewRowColor;
        else if (eventArgs.DataItem.UpdMode == 2)
            eventArgs.Style += myColor.EditRowColor;
        else if (eventArgs.DataItem.UpdMode == 3)
            eventArgs.Style += myColor.DeleteRowColor;
    }
    #endregion

    #region Screen items

    #endregion
}