@using Resource.Services
@using System.Collections.ObjectModel;
@using System.IO;
@inject grpcResourceService.grpcResourceServiceClient resourceServiceClient;
@inject IJSRuntime JsRuntime;
@inject ISnackbar Snackbar


<MudCarousel @ref="_carousel"
             Class="mud-width-full"
             Style="height:800px; overflow-y: scroll"
             ItemsSource="@ImageList"
             SelectedIndex="SelectedIndex"
             SelectedIndexChanged="@((int index) => SelectedIndexChanged_Handle(index))"
             BulletsColor="Color.Primary"
             ShowArrows="true"
             ShowBullets="true"
             AutoCycle="false">
    <ItemTemplate>
        <div class="d-flex flex-column flex-column justify-center mt-4" style="height:100%">
            <img src="@("data:image/png;base64," + Convert.ToBase64String(context.FileContent))">
            <MudText Style="color:white" Align="@Align.Center" Class="mx-auto mt-n8">@($"{context.IssueDate.ToString("dd/MM/yyyy HH:mm")} By: {context.AccountID}")</MudText>
        </div>
    </ItemTemplate>
</MudCarousel>

<div class="d-flex justify-center gap-4">
    <MudIconButton Icon="@Icons.Material.Filled.Delete" aria-label="Delete" OnClick="Delete_Image"></MudIconButton>
    <MudIconButton Icon="@Icons.Material.Filled.Download" Color="Color.Success" aria-label="Download" OnClick="DownLoadFile"></MudIconButton>
</div>

@if (MsgVisible)
{
    <MudMessageBox @ref="mbox" Title="Cảnh báo" CancelText="Cancel" IsVisible="@MsgVisible">
        <MessageContent>
            <div Style="min-width:250px">
                Xóa ảnh?
            </div>
        </MessageContent>
        <YesButton>
            <MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.DeleteForever">Delete!</MudButton>
        </YesButton>
    </MudMessageBox>
}



@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter] public List<UpLoadFileModel> ImageList { get; set; } = new List<UpLoadFileModel>();
    [Parameter] public string ResourceID { get; set; } = "";
    [Parameter] public EventCallback<string> OnSubmit { get; set; }
    //TextChanged
    [Parameter] public bool Status { get; set; } = false;
    [Parameter] public EventCallback<bool> StatusChanged { get; set; }

    //Ref
    MudCarousel<UpLoadFileModel> _carousel;
    MudMessageBox mbox { get; set; }
    bool MsgVisible = false;
    int SelectedIndex;
    //
    void OnCancel()
    {
        MudDialog.Close();
    }
    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();

        //Load master
        if (ImageList.Count > 0)
        {
            var SelectedIndex = ImageList.FindIndex(x => x.ResourceID == ResourceID);
            if (SelectedIndex == -1)
            {
                SelectedIndex = 0;
            }
            await Load_Image(SelectedIndex);
        }
        await Task.FromResult(0);
    }

    async void SelectedIndexChanged_Handle(int index)
    {
        SelectedIndex = index;

        await Load_Image(index);
    }

    async Task Load_Image(int index)
    {
        //Load image from DB
        var request = new Resource.Services.GetResourceFile_Request();
        var Credential = new Resource.Services.UserCredential()
            {
                Username = WebUserCredential.Username,
                RoleID = WebUserCredential.RoleID,
                AccessToken = WebUserCredential.AccessToken,
                ApiKey = WebUserCredential.ApiKey
            };
        request.Credential = Credential;
        //ClaimNo
        request.ResourceID = ImageList[index].ResourceID;
        request.IsGetFull = true;
        //Call api
        var response = await resourceServiceClient.GetResourceFileAsync(request);
        // Success
        if (response != null && response.ReturnCode == GrpcReturnCode.OK)
        {
            ImageList[index].FileContent = response.Record.FileContent.ToByteArray();
        }
        //
        _carousel.MoveTo(index);
        this.StateHasChanged();
    }

    async void Delete_Image()
    {
        //confirm
        bool? result = await mbox.Show();
        StateHasChanged();
        //OK
        if (result == null || result == false) return;

        //Delete
        var request = new Resource.Services.String_Request();
        var Credential = new Resource.Services.UserCredential()
            {
                Username = WebUserCredential.Username,
                RoleID = WebUserCredential.RoleID,
                AccessToken = WebUserCredential.AccessToken,
                ApiKey = WebUserCredential.ApiKey
            };
        request.Credential = Credential;
        //
        request.StringValue = ImageList[SelectedIndex].ResourceID;
        //Call api
        var response = await resourceServiceClient.DeleteResourceFileAsync(request);
        // Success
        if (response == null && response.ReturnCode == GrpcReturnCode.OK)
        {
            ImageList.RemoveAt(SelectedIndex);
            this.StateHasChanged();
            Status = true;
            await StatusChanged.InvokeAsync(true);
        }
        else
        {
            Snackbar.Add("Xóa file tại Server thất bại", Severity.Error);
        }
    }

    //DownLoadFile
    async void DownLoadFile()
    {
        //Skip check
        if (ImageList == null || SelectedIndex >= ImageList.Count) return;

        //Data
        var dataRow = ImageList[SelectedIndex];

        //call javascript function to download the file
        await JsRuntime.InvokeVoidAsync("downloadFile", "application/octet-stream", Convert.ToBase64String(dataRow.FileContent), dataRow.FileName);
    }
    //
}